<div class="card mb-5 mb-xl-8">

  <div class="card-header border-0 pt-5">

    <div class="card-title">
      <ng-container *ngIf="showApprove">
        <a class="btn btn-light-danger font-weight-bolder font-size-sm cursor-pointer me-1" (click)="reject()">
          reject
        </a>
        <a class="btn btn-light-success font-weight-bolder font-size-sm cursor-pointer me-1" (click)="approve()">
          approve
        </a>
      </ng-container>

    </div>

    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Back">
      <a class="btn btn-danger font-weight-bolder font-size-sm cursor-pointer me-1" (click)="back()">
        <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
        {{"ECOMMERCE.COMMON.BACK" | translate}}
      </a>
    </div>

  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="max-w-80px">Sl No.</th>
            <th class="min-w-100px">Qualification</th>
            <th class="min-w-100px">Note</th>
            <th class="min-w-100px">Answers</th>
            <th class="min-w-100px text-center">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let rfp of dataList; index as i">
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{rfp?.initialCheckId || rfp?.ownerCheckId || '--'}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{rfp?.question || '--'}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{rfp?.answer || '--'}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{rfp?.status || '--'}}
              </a>
            </td>

            <td>
              <div class="d-flex justify-content-center flex-shrink-0" *ngIf="!rfp.status">
                <a class="btn btn-light-info font-weight-bolder font-size-sm cursor-pointer"
                  (click)="fireAnswerModal(rfp.initialCheckId || rfp.ownerCheckId)">
                  Answer
                </a>
              </div>
            </td>
          </tr>

          <tr *ngIf="!dataList?.length">
            <td colspan="12" class="text-center fs-2 text-primary">
              no items retrieved yet
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-stack flex-wrap pt-10">
        <div class="fs-6 fw-bold text-gray-700">Showing {{totalCount}} to 10 of {{totalCount}} entries</div>

        <ul class="pagination">
          <li class="page-item previous" (click)="navigateArrows(false)">
            <a class="page-link cursor-pointer">
              <i class="previous"></i>
            </a>
          </li>

          <li class="page-item" [ngClass]="{'active': selected === i+1}" (click)="navigatePage(i+1)"
            *ngFor="let page of pagesCount; index as i">
            <a class="page-link cursor-pointer"> {{i+1}} </a>
          </li>

          <li class="page-item next" (click)="navigateArrows(true)">
            <a class="page-link cursor-pointer">
              <i class="next"></i>
            </a>
          </li>
        </ul>
        <!-- end::Table pagination -->
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<swal #deleteSwal [swalOptions]="swalOptions" title="Are you sure to delete?" text="This can't be undone" icon="warning"
  [showCancelButton]="true" [focusCancel]="true"
  [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-active-light'}">
</swal>


<ng-template #answerModal let-modal>
  <form #addForm="ngForm" (ngSubmit)="onSubmit($event, addForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Answer Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="fv-row mb-7">
        <label class="col-lg-12 col-form-label fw-bold fs-6">Available</label>
        <select class="form-select form-select-solid form-select-lg fw-bold" name="editScaledId"
          [(ngModel)]="answerModel.status">
          <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
          <ng-container *ngFor="let state of statusList">
            <option [value]="state?.id">{{state?.name}}</option>
          </ng-container>
        </select>
      </div>

      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Notes</label>
        <textarea cols="4" class="form-control form-control-solid" name="answer" [(ngModel)]="answerModel.answer"
          #answer="ngModel" required></textarea>
        <div *ngIf="addForm.submitted && addForm.invalid"
          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          <div *ngIf="answer.errors?.['required']">note is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
