<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Company Details</h3>
    </div>

    <a (click)="navigateEdit()" class="btn btn-primary align-self-center">
      Edit Company
    </a>
  </div>

  <div class="card-body p-9">
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company</label>

      <div class="col-lg-8 fv-row">
        <span class="fw-bold fs-6">Keenthemes</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">English Name</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-900">Max Smith</span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Type</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-900">consultant</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">CR Number</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-900">1452</span>
      </div>
    </div>


    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Theme/Main Color</label>

      <div class="col-lg-8">
        <input type="color" value="#e66465" disabled readonly>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company icon</label>

      <div class="col-lg-8">
        <img src="../../../../assets/media/logos/froha_logo.png" alt="logo" class="w-30px">
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company Address</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-900">test</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company description</label>

      <div class="col-lg-8">
        <span class="fw-bolder fs-6 text-gray-900">test</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">
        Company Phone
        <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i>
      </label>

      <div class="col-lg-8 d-flex align-items-center">
        <span class="fw-bolder fs-6 me-2">+966 11 461 8150</span>

        <span class="badge badge-success">Verified</span>
      </div>
    </div>

    <div class="row mb-7">
      <label class="col-lg-4 fw-bold text-muted">Company Email </label>

      <div class="col-lg-8">
        <a href="#" class="fw-bold fs-6 text-gray-900 text-hover-primary">
          {{'test@fronhavs.com'}}
        </a>
      </div>
    </div>
  </div>
</div>
