<div class="head" [ngClass]="{ custom_ar: currentLang == 'ar' }">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                <div *ngIf="!canShowOverlayAsSearch" class="normal-search">
                    <input type="search" class="search" placeholder="{{'search' | translate}}">
                    <i class="far fa-search search-icon"></i>
                </div>
                <div *ngIf="canShowOverlayAsSearch">
                    <button [cdkMenuTriggerFor]="searchOverlay" 
                            class="search-menu-btn ripple">
                        <i class="far fa-search search-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu">

                <div class="head-menu-item">
                    <button class="head-item-menu-btn ripple" [cdkMenuTriggerFor]="languageOverlay">
                        <img [src]="'../../../../assets/icons/' + selectedLanguage.flag + '.png'" class="flag" alt="flag" />
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-item-menu-btn ripple">
                        <i class="far fa-bell menu-icon"></i>
                    </button>
                </div>
                <div class="head-menu-item">
                    <button class="head-item-menu-btn ripple">
                        <i class="far fa-comment menu-icon"></i>
                    </button>
                </div>
            </div>
            <!-- <span style="color: #00684e;">{{userDetails?.name}}</span> -->
            <div class="head-user-avatar-container">
                <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
                    <img src="../../../../assets/images/user-avatar.png" alt="user" class="user_avatar">
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall" cdkMenu
    [ngClass]="{ custom_ar: currentLang == 'ar' }">
        <input type="search" class="search" placeholder="{{'search' | translate}}">
        <button class="search-btn">
            <i class="far fa-search search-icon"></i>
        </button>
    </div>
</ng-template>

<ng-template #languageOverlay>
    <div class="overlay overlay-language overlay-fall" cdkMenu
    [ngClass]="{ custom_ar: currentLang == 'ar' }">
        <ul>
            <li *ngFor="let item of languages" (click)="changeLang(item.lang)">
                <a>
                    <img [src]="'../../../../assets/icons/' + item.flag + '.png'" alt="lang" />
                    <span>{{item.title}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu
    [ngClass]="{ custom_ar: currentLang == 'ar' }">
        <ul>
            <li *ngFor="let item of userItems" (click)="action(item.label)">
                <a>
                    <i class="icon" [ngClass]="item.icon" ></i>
                    <span>{{item.label | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>