<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-5">

    <!-- <ng-container>
      <div class="mb-10 bg-light-success p-8 rounded">
        <div class="text-success fs-5 fw-bold">
          You must click on final submit after updating basic Info to confirm the update
        </div>
      </div>
    </ng-container> -->

    <div class="card mb-5 mb-xl-8">
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Cash Flow Details</span>
        </h3>
      </div>
      <div class="card-body pt-3">
        <div class="d-flex align-items-sm-center mb-7">

          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Project name
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{cashDetails?.projectName  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Last Invoice Number
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{cashDetails?.createdDate?.slice(0, 10)  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Estimated cost of works until the end of the project
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{cashDetails?.estimatedCost  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Approved Status
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{cashDetails?.consultantName ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Submitted by
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{cashDetails?.contractNo || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Submitted date
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{cashDetails?.lastUpdated | date: 'dd-MM-yyyy'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>

      </div>
    </div>
  </div>

  <div class="col-xl-7">
    <div class="card mb-5 mb-xl-8">
      <div class="card-body py-3">
        <a class="btn btn-sm btn-success my-3" (click)="handleDecision()" *ngIf="!cashDetails?.cashflowApprovals.length">
          Consultant Decision
        </a>
        <a class="btn btn-sm btn-success my-3" (click)="handleDecision()" *ngIf="cashDetails?.cashflowApprovals.length">
          Manager Decision
        </a>
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
              <tr class="fw-bolder text-muted">

                <th class="min-w-120px">Created By</th>
                <th class="min-w-140px">Date</th>
                <th class="min-w-120px">Status</th>
                <th class="min-w-120px">Notes</th>
              </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              <tr *ngFor="let item of cashDetails?.cashflowApprovals; index as i">
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item?.userEmail}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item?.createdOn | date : 'dd-MM-yyyy'}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item.accepted ? 'approved from' : 'rejected'}} {{item?.accepted && (i === 0) && 'Consultant'}} {{(item?.accepted && (i === 1)) ? 'Manager' : ''}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item?.note}}
                  </a>
                </td>
              </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
    </div>
  </div>
</div>

<div class="card mb-5 mb-xl-8">
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">

            <th class="min-w-120px">Month</th>
            <th class="min-w-120px">Year</th>
            <th class="min-w-120px">Value</th>
            <th class="min-w-140px">Last Invoice Number</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let item of cashDetails?.cashflowItems">
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{item?.monthName}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{item?.year}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{item?.abstractValue | number}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{item?.abstractNumber}}
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-3">
                total
              </a>
            </td>
            <td colspan="3">
              <a class="text-gray-900 fw-bolder text-hover-primary fs-3">
                {{cashDetails?.totalValue | number}}
              </a>
            </td>
          </tr>
          <tr *ngIf="!cashDetails?.cashflowItems?.length">
            <td colspan="8" class="text-center fs-2 text-primary">
              no items retrieved yet
            </td>
          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
</div>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #approveModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Role Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <div class="fv-row mb-7">
        <div class="col-lg-8 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch d-flex align-items-center">
            <input class="form-check-input w-45px h-30px me-2" type="checkbox" name="durationDays"
              [(ngModel)]="approveModelData.accepted" />
            <label class="form-check-label">{{approveModelData.accepted ? 'approve' : 'reject'}}</label>
          </div>
        </div>
      </div>

      <div class="fv-row mb-7">
        <label class="fw-semibold fs-6 mb-2">Reason</label>
        <textarea class="form-control form-control-solid" name="eotReason" [(ngModel)]="approveModelData.note"
          rows="3"></textarea>
      </div>

    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
