<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column" *ngIf="!canSearch">
    <span class="card-label fw-bolder fs-3 mb-1">{{tableTitle}}</span>
    <span class="text-muted mt-1 fw-bold fs-7">{{table_SubTitle}}</span>
  </h3>

  <!--begin::Card title-->
  <div class="card-title">
    <!--begin::Search-->
    <div class="d-flex align-items-center position-relative my-1">
      <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
      <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
        [placeholder]="Search_text">
    </div>
    <!--end::Search-->
  </div>
  <!--begin::Card title-->

  <div class="card-toolbar">
    <a (click)="redirect()" class="d-flex btn btn-sm btn-light-primary">
      <app-keenicon name="plus" class="fs-3"></app-keenicon>
      {{Add_text}}
    </a>
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted bg-light">
          <ng-container *ngFor="let column of dataColumns; index as i" [ngStyle]="{'padding': i === 0 ? '12px' : ''}">
            <th [class]="column.className">{{column.title}}</th>
          </ng-container>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let data of dataList; index as i">
          <td style="padding: 12px;">
            <a class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{i+1}}
            </a>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-50px me-5">
                <img [src]="data.img" alt="com" />
              </div>
              <div class="d-flex justify-content-start flex-column">
                <a class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6">
                  {{data.name}}
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  {{data.subName}}
                </span>
              </div>
            </div>
          </td>
          <td *ngIf="data?.EN_NAME">
            <a href="#" class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{data?.EN_NAME}}
            </a>
          </td>
          <td *ngIf="data?.crNumber">
            <a href="#" class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{data?.crNumber}}
            </a>
          </td>
          <td>
            <span [ngClass]="{'badge-light-success': data.status === 'Active',
                        'badge-light-primary': data.status === 'Inactive',
                        'badge-light-info': data.status === 'In Progress'}" class="badge fs-7 fw-bold">
              {{data.status}}
            </span>
          </td>
          <td class="text-end">
            <a *ngIf="canViewDetails" class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              " (click)="populateViewClicked(data)">
              <app-keenicon name="eye" class="fs-3"></app-keenicon>
            </a>
            <a *ngIf="canChangeStatus" class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              ">
              <app-keenicon name="switch" class="fs-3"></app-keenicon>
            </a>
            <a *ngIf="canEdit" class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              ">
              <app-keenicon name="pencil" class="fs-3"></app-keenicon>
            </a>
            <a *ngIf="canDelete" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
              <app-keenicon name="trash" class="fs-3"></app-keenicon>
            </a>
          </td>
        </tr>
      </tbody>

      <!-- end::Table body -->
    </table>
    <!-- start::Table pagination -->
    <div class="d-flex flex-stack flex-wrap pt-10">
      <div class="fs-6 fw-bold text-gray-700">Showing 1 to 5 of 5 entries</div>

      <ul class="pagination">
        <li class="page-item previous">
          <a class="page-link cursor-pointer">
            <i class="previous"></i>
          </a>
        </li>

        <li class="page-item active">
          <a class="page-link cursor-pointer"> 1 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 2 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 3 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 4 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 5 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 6 </a>
        </li>

        <li class="page-item next">
          <a class="page-link cursor-pointer">
            <i class="next"></i>
          </a>
        </li>
      </ul>
      <!-- end::Table pagination -->
    </div>
  </div>
</div>
