<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <div class="col-xl-2">
    <app-stats-widget1 class="card bgi-no-repeat card-xl-stretch mb-xl-8" title="تاريخ البداية" time="1-1-2024"
      [ngStyle]="{
        'max-height': '140px',
        'background-position': 'right top',
        'background-size': '30% auto',
        'background-image': 'url(./assets/media/svg/shapes/abstract-1.svg)'
      }"></app-stats-widget1>
  </div>

  <div class="col-xl-2">
    <app-stats-widget1 class="card bgi-no-repeat card-xl-stretch mb-xl-8" title="تاريخ النهاية" time="1-1-2024"
      [ngStyle]="{
        'max-height': '140px',
        'background-position': 'right top',
        'background-size': '30% auto',
        'background-image': 'url(./assets/media/svg/shapes/abstract-2.svg)'
      }"></app-stats-widget1>
  </div>

  <div class="col-xl-2">
    <app-stats-widget1 class="card bgi-no-repeat card-xl-stretch mb-5 mb-xl-8" title="المدة الأصلية" time="426"
      [ngStyle]="{
        'max-height': '140px',
        'background-position': 'right top',
        'background-size': '30% auto',
        'background-image': 'url(./assets/media/svg/shapes/abstract-3.svg)'
      }"></app-stats-widget1>
  </div>
  <div class="col-xl-2">
    <app-stats-widget1 class="card bgi-no-repeat card-xl-stretch mb-xl-8" title="البلدية" time="بلدية شمال الرياض"
      [ngStyle]="{
        'max-height': '140px',
        'background-position': 'right top',
        'background-size': '30% auto',
        'background-image': 'url(./assets/media/svg/shapes/abstract-4.svg)'
      }"></app-stats-widget1>
  </div>

  <div class="col-xl-2">
    <app-stats-widget1 class="card bgi-no-repeat card-xl-stretch mb-xl-8" title="الحي" time="النقل" [ngStyle]="{
        'max-height': '140px',
        'background-position': 'right top',
        'background-size': '30% auto',
        'background-image': 'url(./assets/media/svg/shapes/abstract-5.svg)'
      }"></app-stats-widget1>
  </div>

  <div class="col-xl-2">
    <app-stats-widget1 class="card bgi-no-repeat card-xl-stretch mb-5 mb-xl-8" title="الأيام المقضية" time="355"
      [ngStyle]="{
        'max-height': '140px',
        'background-position': 'right top',
        'background-size': '30% auto',
        'background-image': 'url(./assets/media/svg/shapes/abstract-1.svg)'
      }"></app-stats-widget1>
  </div>
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
  <!--begin::Col-->
  <div class="col-xxl-7 mb-5 mb-xl-10">
    <!-- <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18> -->
    <div class="card card-flush">
      <!--begin::Body-->
      <div class="card-body py-9">
        <!--begin::Row-->
        <div class="row gx-9 h-100">
        </div>
      </div>
    </div>
  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-xxl-5 mb-5 mb-xl-10">
    <!-- <app-cards-widget18 cssClass="h-xl-100" image="./assets/media/stock/600x600/img-65.jpg"></app-cards-widget18> -->
    <div class="card card-flush">
      <!--begin::Body-->
      <div class="card-body py-9">
        <!--begin::Row-->
        <div class="row gx-9 h-100">
        </div>
      </div>
    </div>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->
