<div class="wrapper">
  <header>
    <h1>وزارة الشؤون البلدية والقروية والإسكان</h1>
    <h2>أمانة منطقة الرياض</h2>
    <h3>وكالة المشاريع</h3>
    <div class="btn_wrapper">
      <a class="btn btn-sm btn-success" (click)="print()">
        طباعة
      </a>
      <a class="btn btn-sm btn-light-danger mx-3" (click)="back()">
        العودة
      </a>
    </div>
  </header>

  <section class="certificate-title">
    <h2>شهادة استلام ابتدائي</h2>
  </section>

  <form [formGroup]="deliveryForm" class="form">


    <section class="contract-table">
      <table>
        <tbody>
          <tr>
            <td><strong>رقم العقد</strong></td>
            <td>6</td>
            <td><strong>تاريخ العقد</strong></td>
            <td>02-09-2019</td>
          </tr>
          <tr>
            <td><strong>اسم المشروع</strong></td>
            <td colspan="3">تحسين المشهد الحضري بمحاور الطرق بشمال مدينة الرياض</td>
          </tr>
          <tr>
            <td><strong>المقاول المنفذ</strong></td>
            <td>شركه يوكسيل انشاءات المساهمه</td>
            <td><strong>الاستشاري المشرف</strong></td>
            <td>شركة مشاري ناصر الشثري وشريكه للاستشارات الهندسية (مهنية)</td>
          </tr>
          <tr>
            <td><strong>الإدارة المشرفة</strong></td>
            <td>إدارة الإشراف والتنفيذ للطرق</td>
            <td><strong>تاريخ تسليم الموقع</strong></td>
            <td>2019-10-17</td>
          </tr>
          <tr>
            <td><strong>مدة المشروع شامل التمديد (باليوم)</strong></td>
            <td>731</td>
            <td><strong>تاريخ المقرر للاستلام الابتدائي</strong></td>
            <td>2022-10-22</td>
          </tr>
          <tr>
            <td colspan="2"><strong>نوع الاستلام:</strong></td>
            <td colspan="2">
              <label>
                <input type="radio" formControlName="isPartially" value="1"> استلام كلي
              </label>
              <label>
                <input type="radio" formControlName="isPartially" value="2"> استلام جزئي
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <!-- Short Description Section -->
    <section class="work-scope">
      <h3>1- وصف مختصر لنطاق الأعمال محل الاستلام:</h3>
      <p style="background-color: #A8D6FF; cursor: pointer;" (click)="openBriefModal()">
        <span *ngIf="deliveryForm?.get('brief')?.value">{{deliveryForm.get('brief')?.value}}</span>
        <span *ngIf="!deliveryForm?.get('brief')?.value">وصف مختصر لنطاق الأعمال محل الاستلام</span>
      </p>
      <!-- modal -->
      <ng-template #briefModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">وصف مختصر لنطاق الأعمال محل الاستلام</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <textarea class="form-control form-control-lg form-control-solid" formControlName="brief" name="brief"
                cols="4"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addBrief()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>
    </section>

    <!-- Committee Information Section -->
    <section class="committee-info">
      <h3>2- لجنة الاستلام الابتدائي:</h3>
      <p>بناء على الاشعار المقدم من المتعاقد المنفذ للمشروع أعلاه بتاريخ
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openNoticeModal()">
          <ng-container *ngIf="!deliveryForm?.get('noticeDate')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('noticeDate')?.value">
            {{deliveryForm.get('noticeDate')?.value}}
          </ng-container>

        </span>
        م، والمسجل لدى أمانة منطقة
        الرياض برقم
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openReferenceNumberModal()">
          <ng-container *ngIf="!deliveryForm?.get('referenceNumber')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('referenceNumber')?.value">
            {{deliveryForm.get('referenceNumber')?.value}}
          </ng-container>
        </span>
        ، تم
        تشكيل
        لجنة الاستلام الابتدائي " اللجنة " بتاريخ
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openDeliveryDateModal()">
          <ng-container *ngIf="!deliveryForm?.get('deliveryDate')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('deliveryDate')?.value">
            {{deliveryForm.get('deliveryDate')?.value}}
          </ng-container>
        </span>
        م، لاستلام الأعمال وفق نطاق
        عمل
        المشروع الموضح اعلاه، وذلك بموجب القرار
        الإداري المسجل برقم
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openRegisteredDecisionNumberModal()">
          <ng-container *ngIf="!deliveryForm?.get('registeredDecisionNumber')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('registeredDecisionNumber')?.value">
            {{deliveryForm.get('registeredDecisionNumber')?.value}}
          </ng-container>
        </span>
        وتاريخ
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openRegisteredDecisionDateModal()">
          <ng-container *ngIf="!deliveryForm?.get('registeredDecisionDate')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('registeredDecisionDate')?.value">
            {{deliveryForm.get('registeredDecisionDate')?.value}}
          </ng-container>
        </span>
        م، وتتكون اللجنة من التالية أسماؤهم:</p>

      <ul>
        <li><strong>رئيس اللجنة:</strong> <span
            style="background-color: #A8D6FF; cursor: pointer; width: 300px;display: inline-flex;">&nbsp;&nbsp;&nbsp;</span>
          رئيساً
        </li>
        <br>
        <li><strong>أعضاء اللجنة:</strong> <span
            style="background-color: #A8D6FF; cursor: pointer; width: 300px;display: inline-flex;">&nbsp;&nbsp;&nbsp;</span>
          عضواً
        </li>
      </ul>

      <p>وقامت اللجنة بمراجعة مواصفات ورسومات العقد، كما عاينت الأعمال في الموقع وأجرت الاختبارات والفحوصات المتعلقة
        بالأعمال التي تم تنفيذها بواسطة المتعاقد، وأعدت اللجنة بناءً على أعمال المراجعة والمعاينة والاختبارات الخاصة
        بالأعمال المنجزة، المحاضر المرتبطة بتلك الأعمال.</p>

      <!-- modal -->
      <ng-template #noticeModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">تاريخ إشعار المتعاقد</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="date" class="form-control form-control-lg form-control-solid" formControlName="noticeDate"
                name="noticeDate" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addNotice()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>

      <ng-template #refNumberModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">رقم التسجيل في الأمانة</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="number" class="form-control form-control-lg form-control-solid"
                formControlName="referenceNumber" name="referenceNumber" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addRefNumber()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>

      <ng-template #deliveryDateModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">تاريخ تشكيل اللجنة</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="date" class="form-control form-control-lg form-control-solid" formControlName="deliveryDate"
                name="deliveryDate" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addDeliveryDate()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>

      <ng-template #registeredDecisionNumberModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">رقم قرار تشكيل اللجنة</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="number" class="form-control form-control-lg form-control-solid"
                formControlName="registeredDecisionNumber" name="registeredDecisionNumber" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addRegisteredDecisionNumber()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>

      <ng-template #registeredDecisionDateModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">تاريخ قرار تشكيل اللجنة</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="date" class="form-control form-control-lg form-control-solid"
                formControlName="registeredDecisionDate" name="registeredDecisionDate" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addRegisteredDecisionDate()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>
    </section>

    <!-- Contract Documents Section -->
    <section class="contract-documents">
      <h3>3- مستندات العقد:</h3>
      <p>تختص هذه الشهادة بالأعمال التي تم تنفيذها بموجب عقد مشروع (
        <span class="focus">
          تحسين المشهد الحضري بمحاور الطرق بشمال مدينة
          الرياض
        </span>
        )رقم (
        <span class="focus">
          6
        </span>
        ) والمؤرخ في (
        <span class="focus">
          02-09-2019
        </span>
        ) بين أمانة منطقة الرياض "المالك" وبين (
        <span class="focus">
          شركه يوكسيل انشاءات المساهمه
        </span>
        )
        "المتعاقد".</p>

      <p>كما تختص هذه الشهادة بجميع الإضافات والملاحق المرفقة بالعقد وأوامر التغيير والأعمال الأخرى التي تم إصدار
        تعليمات
        بشأنها إلى المتعاقد لتنفيذها، وجميع الوثائق والمستندات السابقة والتي يشار إليها مجتمعة بـ " العقد ".</p>
    </section>

    <!-- Completion Date Section -->
    <section class="completion-date">
      <h3>4- تاريخ الإنجاز:</h3>
      <p>تنص مستندات العقد على ان مدة المشروع هي (
        <span class="focus">
          0
        </span>
        ) يوم فقط من تاريخ تسليم الموقع المؤرخ في
        <span class="focus">
          2019-10-17
        </span>
        م، تم تمديدها
        لفترات مختلفة بلغ مجموعها (
        <span class="focus">
          455
        </span>
        ) أيام بموجب أوامر التغيير والتمديد المعتمدة، وفترة مسؤولية عن العيوب لمدة لا
        تقل
        عن (سنة) تلي تاريخ الاستلام الابتدائي وتبدأ بعد اعتماد هذه الشهادة.</p>
      <p>وبموجب هذه الشهادة فإن أعمال المشروع قد تم إنجازها إنجازًا جوهرياً واستلامها ابتدائياً ضمن الفترة المحددة في
        العقد.</p>
      <p>ويعتبر تاريخ
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openAchieveDateModal()">
          <ng-container *ngIf="!deliveryForm?.get('achievementDate')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('achievementDate')?.value">
            {{deliveryForm.get('achievementDate')?.value}}
          </ng-container>
        </span>
        م بموجب هذه
        الشهادة هو تاريخ إنجاز أعمال المشروع إنجازًا جوهرياً واستلامها ابتدائياً حسب شروط هذه
        الشهادة.</p>
      <ng-template #achieveDateModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">التاريخ المعتمد للاستلام الابتدائي</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="date" class="form-control form-control-lg form-control-solid"
                formControlName="achievementDate" name="achievementDate" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addAchieveDate()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>
    </section>

    <!-- Final Payment Section -->
    <section class="final-payment">
      <h3>5- الدفعة النهائية:</h3>
      <p>يتم إعداد المستخلص الختامي للأعمال المنفذة طبقا للفقرة (ثانياً) من المادة رقم (5) من الشروط المالية للعقد بدون
        أية حسومات تتعلق بتأخير العمل. الدفعة النهائية يجب أن يتم أداؤها طبقا لما ورد في الفقرة (ثالثاً) من المادة رقم
        (5)
        من الشروط المالية للعقد.</p>
    </section>

    <!-- Contractor Obligations Section -->
    <section class="contractor-obligations">
      <h3>6- التزامات المتعاقد المستمرة:</h3>
      <p>في حال لاحظت اللجنة بعض العيوب والنواقص التي (لا) تمنع من التشغيل والانتفاع من الأعمال التي تم إنجازها، وهذه
        العيوب والنواقص قد تم تسجيلها في محاضر اللجنة المشار إليها في الفقرة (2) آنفاً وفي الملحق المرفق رقم
        <br>
        (<span style="background-color: #A8D6FF; cursor: pointer;" (click)="attachmentInput.click()"
          [ngStyle]="{ 'color': (deliveryForm.get('attachment')?.value ? '#0000ee' : 'red') }">
          يتم إرفاق جميع محاضر أعمال المراجعة والمعاينة التي أعدتها اللجنة للأعمال المنجزة
        </span>
        <input type="file" name="attachment" (change)="onFileSelected($event)" #attachmentInput style="display: none;"
          accept="application/pdf">
        )</p>
      <p>، فيجب على المتعاقد إصلاحها وإكمالها على الوجه المطلوب خلال مدة (
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openFixingDuration()">
          <ng-container *ngIf="!deliveryForm?.get('fixingDuration')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('fixingDuration')?.value">
            {{deliveryForm.get('fixingDuration')?.value}}
          </ng-container>
        </span>&nbsp;) وفقاً ما حدّدته اللجنة.
      </p>
      <p>إن الإخفاق في ذكر أية عيوب أو نواقص أو التزامات في هذه الشهادة يجب ألا يغير أو يقلل من مسئولية والتزام المتعاقد
        في تنفيذ جميع الأعمال وإنجازها بما يتوافق مع شروط و مواصفات العقد، ويظل المتعاقد مسئولاً وملزماً بتنفيذ الأعمال
        أثناء فترة المسئولية عن العيوب تنفيذاً سليماً.</p>

      <ng-template #fixingDurationModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">مدة إصلاح النواقص والعيوب بالأيام</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="number" class="form-control form-control-lg form-control-solid"
                formControlName="fixingDuration" name="fixingDuration" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addFixingDuration()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>
    </section>

    <!-- Defect Liability Period Section -->
    <section class="defect-liability">
      <h3>7- فترة المسئولية عن العيوب:</h3>
      <p>يحدد تاريخ سريان شهادة الاستلام الابتدائي المتقدم ذكره بداية فترة المسئولية عن العيوب المنصوص عليها في المادة
        رقم
        (66) والمادة رقم (67) من شروط العقد الموحد لوزارة المالية أو وفقا لاشتراطات عقد المقاول تمتد فترة المسئولية عن
        العيوب لمدة سنة بعد تاريخ سريان شهادة الاستلام الابتدائي.</p>
    </section>

    <!-- Operation and Maintenance Manuals Section -->
    <section class="operation-maintenance">
      <h3>8- كتيبات التشغيل والصيانة:</h3>
      <p>يقرّ المتعاقد بأن نسخ كتيبات التشغيل والصيانة المسلّمة للمالك وعددها (3) هي نسخ نهائية، كما يقر بأنها تتضمن
        تعليمات التشغيل المبسطة، الرسومات التوضيحية الضرورية مع الكتالوجات المقابلة لها من المصنع، قائمة قطع الغيار،
        ضمانات التشغيل.</p>
    </section>

    <!-- Guarantees Section -->
    <section class="guarantees">
      <h3>9- الضمانات:</h3>
      <p>يتعين على المتعاقد مباشرةً أن يقدم للمالك مايثبت استمرار التزامه بتطبيق ماورد في القسم السادس من شروط العقد
        (الضمانات).</p>
    </section>

    <!-- Spare Parts Section -->
    <section class="spare-parts">
      <h3>10- قطع الغيار (إن وجدت):</h3>
      <p>يتعين على المتعاقد أن يقوم بتسليم المالك خلال
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openDeliveryDuration()">
          <ng-container *ngIf="!deliveryForm?.get('deliveryDuration')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('deliveryDuration')?.value">
            {{deliveryForm.get('deliveryDuration')?.value}}
          </ng-container>
        </span>&nbsp;
        يوم من تاريخ إصدار هذه الشهادة قائمة مسعرة بقطع الغيار اللازمة
        لأعمال التشغيل والصيانة المعتادة لجميع الأجزاء والأنظمة الرئيسية والفرعية للأعمال.</p>
      <ng-template #deliveryDurationModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">مدة تسليم قائمة قطع الغيار</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="number" class="form-control form-control-lg form-control-solid"
                formControlName="deliveryDuration" name="deliveryDuration" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addDeliveryDuration()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>
    </section>

    <!-- As-Built Drawings Section -->
    <section class="as-built">
      <h3>11- المخططات النهائية للأعمال المنفذة (As Built Drawing):</h3>
      <p>طبقاً لما نصّت عليه شروط ووثائق العقد، يتعين على المتعاقد إعداد وتسليم المخططات النهائية للأعمال المنفذة في
        صورة
        مخططات قابلة للاستنساخ مع عدد (
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openImagePlan()">
          <ng-container *ngIf="!deliveryForm?.get('imagePlan')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('imagePlan')?.value">
            {{deliveryForm.get('imagePlan')?.value}}
          </ng-container>
        </span>&nbsp;
        ) نسخ إضافة إلى عدد (
        <span style="background-color: #A8D6FF; cursor: pointer;" (click)="openImagePlanCopies()">
          <ng-container *ngIf="!deliveryForm?.get('imagePlanCopies')?.value">
            &nbsp;&nbsp;&nbsp;
          </ng-container>
          <ng-container *ngIf="deliveryForm?.get('imagePlanCopies')?.value">
            {{deliveryForm.get('imagePlanCopies')?.value}}
          </ng-container>
        </span>&nbsp;
        ) من هذه المخططات بصيغة ملفات أوتوكاد على أقراص صلبة.، أو
        أي
        وسيلة أخرى يراها المالك مناسبة.</p>
      <p>إثباتا لما سبق، يشهد المتعاقد ويقر بموجبه على أن الأعمال الدائمة الموضحة هنا قد تم تنفيذها وإنجازها بما يتوافق
        مع
        شروط وأحكام ومواصفات العقد ويعتبر هذا الإقرار السبب الدافع لدى المالك لإصدار هذه الشهادة.
      </p>
      <ng-template #imagePlanModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">عدد النسخ المطبوعة</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="number" class="form-control form-control-lg form-control-solid" formControlName="imagePlan"
                name="imagePlan" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addImagePlan()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>

      <ng-template #imagePlanCopiesModal let-modal>
        <div class=" modal-header">
          <h4 class="modal-title mx-auto" id="modal-basic-title">عدد النسخ الإلكترونية</h4>
          <button type="button" class="btn-close mx-0" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <div class="collapse show">

            <div class="fv-row mb-7">
              <input type="number" class="form-control form-control-lg form-control-solid"
                formControlName="imagePlanCopies" name="imagePlanCopies" />
            </div>
          </div>
        </div>
        <div class="modal-footer flex-center">
          <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
            (click)="modal.dismiss('cancel')">
            Discard
          </button>

          <button type="button" class="btn btn-primary" (click)="addImagePlanCopies()">
            <span class="indicator-label">
              add
            </span>
          </button>
        </div>
      </ng-template>
    </section>

    <!-- Contractor and Consultant Signatures Section -->
    <section class="signatures">
      <h3>المتعاقد:</h3>
      <p>شركه يوكسيل انشاءات المساهمه</p>
      <p><strong>اسم المفوض:</strong> م/مصطفي نبيل محمد</p>
      <p><strong>الصــــــــــــفة:</strong> مدير مشروع مقاول</p>
      <p><strong>التوقيــــــــع:</strong> _____________</p>
      <p><strong>الختـــــــــــم:</strong> _____________</p>

      <h3>الاستشاري:</h3>
      <p>شركة مشاري ناصر الشثري وشريكه للاستشارات الهندسية (مهنية)</p>
      <p><strong>اسم المفوض:</strong> م. مصطفى حلمي</p>
      <p><strong>الصــــــــــــفة:</strong> مدير مشروع إستشاري</p>
      <p><strong>التوقيــــــــع:</strong> _____________</p>
      <p><strong>الختـــــــــــم:</strong> _____________</p>
    </section>

    <!-- Acceptance Committee Section -->
    <section class="acceptance-committee">

      <table class="committee-table">
        <thead>
          <tr>
            <td colspan="4" class="full-width">مصادقة لجنة الإستلام الإبتدائي</td>
          </tr>
          <tr>
            <th>الاسم</th>
            <th>الصفة</th>
            <th>التاريخ</th>
            <th>التوقيع</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr>
          <td>__________</td>
          <td>__________</td>
          <td>__________</td>
          <td>__________</td>
        </tr> -->
        </tbody>
      </table>
    </section>

    <!-- Final Approval Section -->
    <section class="final-approval">
      <p>تاريخ الانشاء: 28/09/2024</p>
      <p>بواسطة: Admin</p>
      <a class="btn btn-sm btn-success" (click)="approve();onSubmit()">
        الإعتماد النهائي
      </a>
      <p>رقم العقد: (6)</p>
    </section>

  </form>

  <footer>
    <p>تاريخ الإنشاء: 28/09/2024</p>
    <p>بواسطة: Admin</p>
  </footer>
</div>

<ng-template #briefModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cash Flow File</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="collapse show">

      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Arabic Name</label>
        <input type="text" class="form-control form-control-solid" formControlName="brief" name="brief" required />
      </div>

    </div>
  </div>
  <div class="modal-footer flex-center">
    <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
      (click)="modal.dismiss('cancel')">
      Discard
    </button>
    <!--end::Button-->

    <!--begin::Button-->
    <button type="button" class="btn btn-primary">
      <span class="indicator-label">
        add
      </span>
    </button>
    <!--end::Button-->
  </div>
</ng-template>


<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
