<div class="row">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Stage Gate Deliverables Progress</span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
          </button>
          <!-- end::Menu -->
        </div>
      </div>
      <div class="card-body pt-3">
        <div class="wizard-container">
          <div *ngFor="let step of steps; let i = index" class="wizard-step" [class.active]="isStepActive(i + 1)">
            <div class="step-number">{{ i + 1 }}</div>
            <div class="step-title">{{ step.name }}</div>
            <a class="btn btn-sm btn-info mb-5" *ngIf="step.name === 'Kickoff Meeting' && isStepActive(i + 1)" (click)="navigateKickOffStepPrint()">
              print
            </a>
          </div>
        </div>
      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">

      <div class="card-body">
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap justify-content-center align-items-center">

            <div class=" me-2 mb-3" *ngFor="let step of steps">
              <div class="card-toolbar">
                <div class="d-flex" [ngClass]="{' flex-column': step.name === 'Kickoff Meeting'}">
                  <!-- <a class="btn btn-sm btn-info mb-2" *ngIf="step.name === 'Kickoff Meeting'" (click)="navigateKickOffStepPrint()">
                    print
                  </a> -->
                  <a class="btn btn-sm btn-light-success" [ngClass]="getActiveClass(step)"
                    (click)="navigateTo(step)">
                    {{step.name}}
                  </a>
                </div>
              </div>
            </div>

            <!-- <div class=" me-2 mb-3">
              <div class="card-toolbar">
                <a class="btn btn-sm btn-light-success" [ngClass]="{'active': activeStep > 0}"
                  (click)="navigateCreateCommittee()">
                  Create Committees
                </a>
              </div>
            </div>

            <div class=" me-2 mb-3">
              <div class="card-toolbar">
                <a class="btn btn-sm btn-light-success" [ngClass]="{'active': activeStep > 1}"
                  (click)="navigateDeliverableChecklist()">
                  Deliverable Checklist
                </a>
              </div>
            </div> -->

            <!-- <div class=" me-2 mb-3">
              <div class="card-toolbar">
                <div class="d-flex flex-column">
                  <a class="btn btn-sm btn-info mb-2" *ngIf="activeStep > 2" (click)="navigateKickOffStepPrint()">
                    print
                  </a>
                  <a class="btn btn-sm btn-light-success" [ngClass]="{'active': activeStep > 2}"
                    (click)="navigateKickOffMeeting()">
                    Kickoff Meeting
                  </a>
                </div>
              </div>
            </div> -->

            <!-- <div class=" me-2 mb-3">
              <div class="card-toolbar">
                <a class="btn btn-sm btn-light-success" [ngClass]="{'active': activeStep > 3}"
                  (click)="navigateKickoffMeetingSubmit()">
                  Kickoff Meeting Submit
                </a>
              </div>
            </div>

            <div class=" me-2 mb-3">
              <div class="card-toolbar">
                <a class="btn btn-sm btn-light-success" [ngClass]="{'active': activeStep > 4}"
                  (click)="navigateUploadDeliverableChecklist()">
                  Upload Deliverable Checklist
                </a>
              </div>
            </div>
            <div class=" me-2 mb-3">
              <div class="card-toolbar">
                <a class="btn btn-sm btn-light-success" [ngClass]="{'active': activeStep > 5}"
                  (click)="navigateReview()">
                  Review Meeting
                </a>
              </div>
            </div>
            <div class=" me-2 mb-3">
              <div class="card-toolbar">
                <a class="btn btn-sm btn-light-success" [ngClass]="{'active': activeStep > 6}"
                  (click)="navigateFinalReview()">
                  Final Review
                </a>
              </div>
            </div> -->

            <!-- <div class=" me-2">
              <div class="card-toolbar">
                <a class="btn btn-sm btn-success" (click)="navigateProjectStage()">
                  Project Stage Update
                </a>
              </div>
              <br>
              <span class="text-success d-block pt-1 fs-4">last update date</span>
              <br>
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                2023-08-17
              </a>
              <br>
              <span class="text-muted fw-bold d-block pt-1">وليد عبد الجليل عبد الرحمن عبد الغني</span>
            </div> -->
          </div>
          <!-- end::Title -->
        </div>

        <!-- end::Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">

    <!-- <ng-container *ngIf="updateInfo">
      <div class="mb-10 bg-light-success p-8 rounded">
        <div class="text-danger fs-5 fw-bold">
          You must click on final submit after updating basic Info to confirm the update
        </div>
      </div>
    </ng-container> -->


    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Project Information</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-3">
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Project name
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.projectName  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Status
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.status  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract No
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractNo  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Consultant
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.consultant ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contractor
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractor || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Classification
              </a>
              <span
                class="text-muted fw-bold d-block pt-1">{{projectDetails?.subPhase  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Committee Coordinator
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.coordinator || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Committee Members
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.committeeMembers  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract Status
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractStatus || '--'}}</span>
            </div>

          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #kickOffSubmitModal let-modal>
  <form #addForm="ngForm" (ngSubmit)="onKickOffSubmit($event, addForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Kickoff Meeting Submit</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <div class="fv-row mb-7">
        <!--begin::Label-->
        <label class="required fw-semibold fs-6 mb-2">notes</label>
        <!--end::Label-->
        <!--begin::Input-->
        <textarea type="text" class="form-control form-control-solid" name="notes" [(ngModel)]="kickOffModel.notes"
          #name="ngModel" cols="4" required></textarea>
        <div *ngIf="addForm.submitted && addForm.invalid"
          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          <div *ngIf="name.errors?.['required']">notes is required</div>
        </div>
        <!--end::Input-->
      </div>

    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
