<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-6">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Project Information</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-3">
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Project name
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.nameAr  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract Date
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.createdDate?.slice(0, 10)  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract No
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractNo  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Consultant
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.consultantName ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contractor
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractorName || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Finish date after extension
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.originalFinishDate?.slice(0, 10)  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Sector
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.projectSectorName}}</span>
            </div>

          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>

  <div class="col-xl-6">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Update progress info</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
          </button>
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-3">

        <form [formGroup]="UpdateProgressForm" class="form">
          <div class="card-body border-top p-9">

            <div class="row mb-1">
              <label class="col-lg-12 col-form-label fw-bold fs-6">
                <span>
                  Planned Progress %
                </span>
              </label>
              <div class="col-lg-12 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid text-start"
                  name="plannedProgress" formControlName="plannedProgress" />
                <div
                  *ngIf="UpdateProgressForm?.get('plannedProgress')?.invalid && (UpdateProgressForm?.get('plannedProgress')?.dirty || UpdateProgressForm?.get('plannedProgress')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">project name is required</div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Actual Progress %
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="actualPercentage" formControlName="actualPercentage" />
                  <div
                    *ngIf="UpdateProgressForm?.get('actualPercentage')?.invalid && (UpdateProgressForm?.get('actualPercentage')?.dirty || UpdateProgressForm?.get('actualPercentage')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">progress is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Difference %
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="difference" formControlName="difference" />
                  <div
                    *ngIf="UpdateProgressForm?.get('difference')?.invalid && (UpdateProgressForm?.get('difference')?.dirty || UpdateProgressForm?.get('difference')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">project name is required</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Project Value Till Now
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="value_till_now" formControlName="value_till_now" />
                  <div
                    *ngIf="UpdateProgressForm?.get('value_till_now')?.invalid && (UpdateProgressForm?.get('value_till_now')?.dirty || UpdateProgressForm?.get('value_till_now')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">project name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Project Value For Previous Work
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="previous_work_value" formControlName="previous_work_value" />
                  <div
                    *ngIf="UpdateProgressForm?.get('previous_work_value')?.invalid && (UpdateProgressForm?.get('previous_work_value')?.dirty || UpdateProgressForm?.get('previous_work_value')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">project name is required</div>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="row mb-1">
              <label class="col-lg-12 col-form-label fw-bold fs-6">
                <span>
                  Schedule Management Status
                </span>
              </label>
              <div class="col-lg-12 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" name="status"
                formControlName="status">
                <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                <ng-container *ngFor="let item of statusValues">
                  <option [value]="item?.id">{{item?.name}}</option>
                </ng-container>
              </select>
                <div
                  *ngIf="UpdateProgressForm?.get('status')?.invalid && (UpdateProgressForm?.get('status')?.dirty || UpdateProgressForm?.get('status')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">project name is required</div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <label class="col-lg-12 col-form-label fw-bold fs-6">
                <span>
                  Attachments
                </span>
              </label>
              <div class="col-lg-12 fv-row">
                <input type="file" class="form-control form-control-lg form-control-solid text-start" name="attachment"
                  formControlName="attachment" accept="application/pdf" (change)="onFileChange($event)" />
                <div
                  *ngIf="UpdateProgressForm?.get('attachment')?.invalid && (UpdateProgressForm?.get('attachment')?.dirty || UpdateProgressForm?.get('attachment')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">Please Upload .pdf files only</div>
                </div>
              </div>
            </div>


          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.SAVE_CHANGES" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>


<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
