a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  display: flex;
  height: 100vh;

  #sidebar {
    width: 80px;
    max-width: 80px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
    background-color: var(--sidenav-color);

    &.expand {
      width: 270px;
      max-width: 270px;

      .sidebar-link[data-bs-toggle="collapse"] {
        &::after {
          border: solid;
          border-width: 0 0.075rem 0.075rem 0;

          content: "";
          display: inline-block;
          padding: 2px;
          position: absolute;
          right: 1.5rem;
          top: 1.4rem;
          transform: rotate(-135deg);
          transform: all 0.2s ease-out;
        }
        &.collapsed::after {
          transform: rotate(45deg);
          transform: all 0.2s ease-out;
        }
      }
    }

    &:not(.expand) {
      .sidebar-logo,
      a.sidebar-link span {
        display: none;
      }

      .sidebar-item {
        &:hover {
          .has-dropdown + .sidebar-dropdown {
            display: block;
            max-width: 15em;
            width: 100%;
            opacity: 1;
          }
        }
        .sidebar-dropdown {
          position: absolute;
          top: 0;
          left: 70;
          // background-color: var(--black-color);
          padding: 0;
          min-width: 15rem;
          display: none;
        }
      }
    }

    .toggle-btn {
      background: transparent;
      cursor: pointer;
      border: 0;
      padding: 1rem 1.5rem;

      i {
        font-size: 1.5rem;
        color: var(--white-color);
      }
    }

    .sidebar-logo {
      margin: auto 0;

      a {
        color: var(--white-color);
        font-size: 1.15rem;
        font-weight: 600;
      }
    }
    .sidebar-nav {
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
      }
    }

    .sidebar-nav,
    .sidebar-footer {
      padding: 2rem 0;
      flex: 1 1 auto;

      .first-level {
        a.sidebar-link {
          padding: 0.625rem 5rem;
        }
      }
      .second-level {
        a.sidebar-link {
          padding: 0.625rem 6rem;
        }
      }

      a {
        &.sidebar-link {
          padding: 0.625rem 1.625rem;
          color: var(--white-color);
          display: block;
          font-size: 0.9rem;
          white-space: nowrap;
          border-left: 3px solid transparent;

          i {
            font-size: 1.1rem;
            margin-right: 0.75rem;
          }

          &:hover,
          &.active {
            background-color: rgba(255, 255, 255, 0.075);
            border-left: 3px solid #3b7ddd;
          }
        }
      }

      .sidebar-item {
        position: relative;
        padding: 0.5rem 0;
      }

      &.nav_ar {
        a {
          &.sidebar-link {
            &:hover,
            &.active {
              background-color: rgba(255, 255, 255, 0.075);
              border-right: 3px solid #3b7ddd;
            }
            i {
              margin-left: 0.75rem;
              margin-right: unset;
            }
            &::after {
              left: 1.5rem;
              right: unset;
            }
          }
        }
      }
    }

    .sidebar-footer {
      flex: unset !important;
    }
  }
}
