<!-- begin::Row -->
<div class="row g-5 g-xl-8">
  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-primary card-xl-stretch mb-xl-8" color="primary"
      title="{{'PROJECTS.TITLE' | translate}}" description="{{'PROJECTS.on_going' | translate}}" progress="30%">
    </app-stats-widget6>
  </div>

  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-success card-xl-stretch mb-xl-8" color="success"
      title="{{'PROJECTS.TITLE' | translate}}" description="{{'PROJECTS.initial_delivery' | translate}}"
      [progress]="'40%'"></app-stats-widget6>
  </div>

  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-danger card-xl-stretch mb-xl-8" color="danger"
      title="{{'PROJECTS.TITLE' | translate}}" description="{{'PROJECTS.off_track' | translate}}" progress="10%">
    </app-stats-widget6>
  </div>

  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-warning card-xl-stretch mb-xl-8" color="warning"
      title="{{'PROJECTS.TITLE' | translate}}" description="{{'PROJECTS.prospective' | translate}}" progress="20%">
    </app-stats-widget6>
  </div>
</div>
<!-- end::Row -->

<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->

  <div class="card-header border-0 pt-5">

    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
          [placeholder]="Search_text">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->
    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
      title="Click to add a user">
      <a class="btn btn-sm btn-light-primary" (click)="redirectToNew()">
        <app-keenicon name="plus" class="fs-3"></app-keenicon>
        {{Add_text}}
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
                <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                  data-kt-check-target=".widget-9-check" (change)="checkAll($event)" />
              </div>
            </th>
            <th class="max-w-100px">{{"PROJECTS.Project" | translate}}</th>
            <th class="max-w-100px">{{"PROJECTS.contract_no" | translate}}</th>
            <th class="max-w-150px">{{"PROJECTS.Consultant" | translate}}</th>
            <th class="max-w-170px">{{"PROJECTS.start_date" | translate}}</th>
            <th class="max-w-110px">{{"PROJECTS.Sector" | translate}}</th>
            <th class="max-w-100px text-end">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let project of dataList; index as i">
            <td>
              <div class="form-check form-check-sm form-check-custom form-check-solid">
                <input class="form-check-input widget-9-check" type="checkbox" [value]="project?.id"
                  [checked]="project?.checked" (change)="checkUser($event, project?.id)" />
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="d-flex justify-content-start flex-column">
                  <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                    {{project?.nameAr}}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    {{project?.name}}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{project?.contractNo}}
              </a>
            </td>
            <td>
              <div>
                <div class="col-lg-10 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="Consultant"
                  (change)="navigateTo($event, project?.id)">
                    <option value="" selected disabled>{{project?.consultantName}}</option>
                    <ng-container *ngFor="let option of projectOptions">
                      <option [value]="option?.route">{{option?.name}}</option>
                    </ng-container>
                  </select>
                </div>
              </div>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{project?.executionStartDate | date: 'dd/MM/yyyy'}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{project?.projectSectorName}}
              </a>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0" *ngIf="checkAdmin(project.userName)">
                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" (click)="editProject(project)">
                  <app-keenicon name="pencil" class="fs-3"></app-keenicon>
                </a>
                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="deleteProject(project)">
                  <app-keenicon name="trash" class="fs-3"></app-keenicon>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-stack flex-wrap pt-10">
        <div class="fs-6 fw-bold text-gray-700">Showing {{totalCount}} to 10 of {{totalCount}} entries</div>

        <ul class="pagination">
          <li class="page-item previous">
            <a class="page-link cursor-pointer">
              <i class="previous"></i>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link cursor-pointer"> 1 </a>
          </li>

          <!-- <li class="page-item">
          <a class="page-link cursor-pointer"> 2 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 3 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 4 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 5 </a>
        </li>

        <li class="page-item">
          <a class="page-link cursor-pointer"> 6 </a>
        </li> -->

          <li class="page-item next">
            <a class="page-link cursor-pointer">
              <i class="next"></i>
            </a>
          </li>
        </ul>
        <!-- end::Table pagination -->
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<swal #deleteSwal [swalOptions]="swalOptions" title="Are you sure to delete?" text="This can't be undone" icon="warning"
  [showCancelButton]="true" [focusCancel]="true"
  [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-active-light'}">
</swal>
