<div class="row g-5 g-xl-8 justify-content-between">

  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-10">
      <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
        data-bs-target="#kt_add_company" aria-expanded="true" aria-controls="kt_add_company">
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">{{"SubContractors.Add_Contractor" | translate}}</h3>
        </div>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
        </div>
      </div>
      <div id="kt_add_company" class="collapse show">
        <form [formGroup]="addSubContractorForm" class="form">
          <div class="card-body border-top p-9">

            <div class="row mb-1 flex-column">
              <label class="col-lg-6 col-form-label fw-bold fs-6 d-flex justify-content-between align-items-center">
                <span class="required">Sub Contractor</span>
                <button class="btn btn-sm btn-light-warning" (click)="addStackholderModal()">+ add new</button>
              </label>
              <div class="col-lg-6 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" name="unitId"
                  formControlName="subContractorId">
                  <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
                  <ng-container *ngFor="let user of stackHolders">
                    <option [value]="user?.id">{{user?.name}}</option>
                  </ng-container>
                </select>
                <div
                  *ngIf="addSubContractorForm?.get('subContractorId')?.invalid && (addSubContractorForm?.get('subContractorId')?.dirty || addSubContractorForm?.get('subContractor')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">sub Contractor is required</div>
                </div>
              </div>
            </div>

            <div class="row mb-1">

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Start Date
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid text-start" name="startDate"
                    formControlName="startDate" placeholder="Start Date" />
                  <div
                    *ngIf="addSubContractorForm?.get('startDate')?.invalid && (addSubContractorForm?.get('startDate')?.dirty || addSubContractorForm?.get('startDate')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">start Date is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Finish Date
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid text-start"
                    name="finishDate" formControlName="finishDate" placeholder="Finish Date" />
                  <div
                    *ngIf="addSubContractorForm?.get('finishDate')?.invalid && (addSubContractorForm?.get('finishDate')?.dirty || addSubContractorForm?.get('finishDate')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">start Date is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Contract value
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="value"
                    formControlName="value" placeholder="Contract Value" />
                  <div
                    *ngIf="addSubContractorForm?.get('value')?.invalid && (addSubContractorForm?.get('value')?.dirty || addSubContractorForm?.get('value')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">value is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Percentage based on main Contract
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="percentage" formControlName="percentage" />

                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-12">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Work Scope
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <textarea type="text" class="form-control form-control-lg form-control-solid text-start" name="scope"
                    formControlName="scope" cols="5"></textarea>

                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Contract Letter
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-solid" required
                    (change)="onAttachment1($event)" />
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Attachment 1
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-solid" required
                    (change)="onAttachment2($event)" />
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Attachment 2
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-solid" required
                    (change)="onAttachment3($event)" />

                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Is Soudi Company
                  </span>
                </label>
                <div class="col-lg-12 d-flex align-items-center">
                  <div class="form-check form-check-solid form-switch d-flex align-items-center">
                    <input class="form-check-input w-45px h-30px me-2" type="checkbox" formControlName="isSoudi" />
                    <label
                      class="form-check-label">{{addSubContractorForm.get('isSoudi')?.value ? 'yes' : 'No'}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1" *ngIf="!addSubContractorForm.get('isSoudi')?.value">
              <div class="col-lg-12">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Reason for Not Being Saudi Company
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <textarea type="text" class="form-control form-control-lg form-control-solid text-start" name="reason"
                    formControlName="reason" cols="3"></textarea>

                </div>
              </div>
            </div>


            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Representive Name
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-solid" required name="representiveName"
                    formControlName="representiveName" />
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Representive Email
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-solid" required name="representiveEmail"
                    formControlName="representiveEmail" />

                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Representive Phone
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-solid" required name="representivePhone"
                    formControlName="representivePhone" />
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.SAVE_CHANGES" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="col-xl-6" *ngIf="false">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-center justify-content-between w-100">
          <span class="fw-bolder text-gray-900">Credits and Notes</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
          <a class="btn btn-sm btn-light-warning">
            Approve
          </a>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
          </button>
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-3">

        <div class="row mb-6 d-flex flex-column">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">notes</label>
          <div class="col-lg-12 fv-row">
            <textarea class="form-control form-control-lg form-control-solid" cols="3" #notes></textarea>
          </div>
        </div>

        <button type="button" class="btn btn-primary float-end">
          Add
        </button>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #stackHolderModal let-modal>
  <form>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Stackholder</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">

      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">English Name</label>
        <input type="text" class="form-control form-control-solid" name="name" [(ngModel)]="stackholderModelData.name"
          required />
      </div>
      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Arabic Name</label>
        <input type="text" class="form-control form-control-solid" name="nameAr"
          [(ngModel)]="stackholderModelData.nameAr" required />
      </div>

    </div>
    <div class="modal-footer flex-center">

      <!--begin::Button-->
      <button type="button" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'" (click)="submitNewSubContractor()">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
