<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Add RFP</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
        </div>
      </div>


      <div class="card-body pt-3">

        <form [formGroup]="addRFPForm" class="form">
          <div class="card-body border-top p-9">

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    AR Rfp signature name
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="nameAr"
                    formControlName="nameAr" placeholder="arabic name" />
                  <div
                    *ngIf="addRFPForm?.get('nameAr')?.invalid && (addRFPForm?.get('nameAr')?.dirty || addRFPForm?.get('nameAr')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">name is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Rfp signature name
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="name"
                    formControlName="name" placeholder="english name" />
                  <div
                    *ngIf="addRFPForm?.get('name')?.invalid && (addRFPForm?.get('name')?.dirty || addRFPForm?.get('name')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">name is required</div>
                  </div>
                </div>
              </div>


            </div>

            <div class="row mb-1">

              <div class="col-xl-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6"><span
                    class="required">Administrator</span></label>
                <div class="col-lg-10 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="administrator"
                    formControlName="administrator">
                    <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <!-- <ng-container *ngFor="let unit of units">
                      <option [value]="unit?.id">{{unit?.name}}</option>
                    </ng-container> -->
                  </select>
                  <div
                    *ngIf="addRFPForm?.get('administrator')?.invalid && (addRFPForm?.get('administrator')?.dirty || addRFPForm?.get('administrator')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">administrator is required</div>
                  </div>
                </div>
              </div>

              <div class="col-xl-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6"><span
                    class="required">Reviewer</span></label>
                <div class="col-lg-10 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="reviewerId"
                    formControlName="reviewerId">
                    <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <!-- <ng-container *ngFor="let unit of units">
                      <option [value]="unit?.id">{{unit?.name}}</option>
                    </ng-container> -->
                  </select>
                  <div
                    *ngIf="addRFPForm?.get('reviewerId')?.invalid && (addRFPForm?.get('reviewerId')?.dirty || addRFPForm?.get('reviewerId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">reviewer is required</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row mb-1">
              <div class="col-xl-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6"><span
                    class="required">Approver</span></label>
                <div class="col-lg-10 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="approverId"
                    formControlName="approverId">
                    <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <!-- <ng-container *ngFor="let unit of units">
                      <option [value]="unit?.id">{{unit?.name}}</option>
                    </ng-container> -->
                  </select>
                  <div
                    *ngIf="addRFPForm?.get('approverId')?.invalid && (addRFPForm?.get('approverId')?.dirty || addRFPForm?.get('approverId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">approver is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    received date
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid text-start" name="receivedDate"
                    formControlName="receivedDate" />
                  <div
                    *ngIf="addRFPForm?.get('receivedDate')?.invalid && (addRFPForm?.get('receivedDate')?.dirty || addRFPForm?.get('receivedDate')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">date is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Requested Way Document
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-lg form-control-solid text-start" name="requestedWayDocument"
                    formControlName="requestedWayDocument" />
                  <div
                    *ngIf="addRFPForm?.get('requestedWayDocument')?.invalid && (addRFPForm?.get('requestedWayDocument')?.dirty || addRFPForm?.get('requestedWayDocument')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">file is required</div>
                  </div>
                </div>
              </div>

            </div>


          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.ADD" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

 <!-- modal -->
 <swal #noticeSwal [swalOptions]="swalOptions">
</swal>
