<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_create_project" aria-expanded="true" aria-controls="kt_create_project">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" *ngIf="!projectId">{{"PROJECTS.Add_Project" | translate}}</h3>
      <h3 class="fw-bolder m-0" *ngIf="projectId">{{"PROJECTS.Edit_Project" | translate}}</h3>
    </div>
    <div class="card-toolbar">
      <a (click)="back()" class="btn btn-sm btn-danger d-flex">
        <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
        {{"ECOMMERCE.COMMON.BACK" | translate}}
      </a>
    </div>
  </div>
  <div id="kt_create_project" class="collapse show">
    <form [formGroup]="addProjectForm" class="form">
      <div class="card-body border-top p-9">

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.project_stage" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="contractStatus"
              formControlName="contractStatus">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <ng-container *ngFor="let contractorStatus of contractorStatuses">
                <option [value]="contractorStatus?.id">{{contractorStatus?.name}}</option>
              </ng-container>
            </select>
            <div
              *ngIf="addProjectForm?.get('project_stage')?.invalid && (addProjectForm?.get('project_stage')?.dirty || addProjectForm?.get('project_stage')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">stage is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.Classification" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="classification"
              formControlName="classification">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <ng-container *ngFor="let type of classification">
                <option [value]="type.id">{{type?.name}}</option>
              </ng-container>
            </select>
            <div
              *ngIf="addProjectForm?.get('classification')?.invalid && (addProjectForm?.get('classification')?.dirty || addProjectForm?.get('classification')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">classification is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.Sector" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="projectSector"
              formControlName="projectSector">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <ng-container *ngFor="let sector of projectSectors">
                <option [value]="sector.id">{{sector?.name}}</option>
              </ng-container>
            </select>
            <div
              *ngIf="addProjectForm?.get('projectSector')?.invalid && (addProjectForm?.get('projectSector')?.dirty || addProjectForm?.get('projectSector')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">sector is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.project_name" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.project_name' | translate}}" name="name" formControlName="name" />
            <div
              *ngIf="addProjectForm?.get('name')?.invalid && (addProjectForm?.get('name')?.dirty || addProjectForm?.get('name')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">project name is required</div>
            </div>
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.project_location" | translate}}</span></label>
          <div class="col-lg-8 fv-row d-flex justify-content-between">
            <div style="flex: 0.45;">
              <select class="form-select form-select-solid form-select-lg fw-bold" name="areaId"
                formControlName="areaId">
                <option value="" disabled>{{"PROJECTS.Municipality" | translate}}</option>
                <ng-container *ngFor="let municipality of municipalities">
                  <option [value]="municipality?.id">{{municipality?.name}}</option>
                </ng-container>
              </select>
              <div
                *ngIf="addProjectForm?.get('areaId')?.invalid && (addProjectForm?.get('areaId')?.dirty || addProjectForm?.get('areaId')?.touched)"
                class="fv-plugins-message-container">
                <div class="fv-help-block">sector is required</div>
              </div>
            </div>
            <div style="flex: 0.45;">
              <select class="form-select form-select-solid form-select-lg fw-bold" name="districtId"
                formControlName="districtId">
                <option value="" disabled>{{"PROJECTS.District" | translate}}</option>
                <ng-container *ngFor="let district of Districts">
                  <option [value]="district?.id">{{district?.name}}</option>
                </ng-container>
              </select>
              <div
                *ngIf="addProjectForm?.get('project_sector')?.invalid && (addProjectForm?.get('project_sector')?.dirty || addProjectForm?.get('project_sector')?.touched)"
                class="fv-plugins-message-container">
                <div class="fv-help-block">sector is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.project_nameEn" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.project_nameEn' | translate}}" name="nameAr" formControlName="nameAr" />
            <div
              *ngIf="addProjectForm?.get('nameAr')?.invalid && (addProjectForm?.get('nameAr')?.dirty || addProjectForm?.get('nameAr')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">english name is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.contractor" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="contractorId"
              formControlName="contractorId">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <ng-container *ngFor="let contractor of contractors">
                <option [value]="contractor.id">{{contractor?.name}}</option>
              </ng-container>
            </select>
            <div
              *ngIf="addProjectForm?.get('contractorId')?.invalid && (addProjectForm?.get('contractorId')?.dirty || addProjectForm?.get('contractorId')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">contractor is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.Consultant" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="consultantId"
              formControlName="consultantId">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <ng-container *ngFor="let consultant of consultants">
                <option [value]="consultant.id">{{consultant?.name}}</option>
              </ng-container>
            </select>
            <div
              *ngIf="addProjectForm?.get('consultantId')?.invalid && (addProjectForm?.get('consultantId')?.dirty || addProjectForm?.get('consultantId')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">consultant is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.st_date" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="date" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.st_date' | translate}}" name="st_date" formControlName="st_date" />
            <div
              *ngIf="addProjectForm?.get('st_date')?.invalid && (addProjectForm?.get('st_date')?.dirty || addProjectForm?.get('st_date')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">Execution Start Date required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.duration" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="number" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.duration' | translate}}" name="duration" formControlName="duration" />
            <div
              *ngIf="addProjectForm?.get('duration')?.invalid && (addProjectForm?.get('duration')?.dirty || addProjectForm?.get('duration')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">duration is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.en_date" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="date" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.en_date' | translate}}" name="en_date" formControlName="en_date" readonly />
            <div
              *ngIf="addProjectForm?.get('en_date')?.invalid && (addProjectForm?.get('en_date')?.dirty || addProjectForm?.get('en_date')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">Execution Start Date required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.contract_no" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.contract_no' | translate}}" name="contractNo" formControlName="contractNo" />
            <div
              *ngIf="addProjectForm?.get('contractNo')?.invalid && (addProjectForm?.get('contractNo')?.dirty || addProjectForm?.get('contractNo')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">english name is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.contract_date" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="date" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.contract_date' | translate}}" name="contract_date"
              formControlName="contract_date" />
            <div
              *ngIf="addProjectForm?.get('contract_date')?.invalid && (addProjectForm?.get('contract_date')?.dirty || addProjectForm?.get('contract_date')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">english name is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.project_value" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <input type="number" class="form-control form-control-lg form-control-solid text-start"
              placeholder="{{'PROJECTS.project_value' | translate}}" name="originalValue"
              formControlName="originalValue" />
            <div
              *ngIf="addProjectForm?.get('originalValue')?.invalid && (addProjectForm?.get('originalValue')?.dirty || addProjectForm?.get('originalValue')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">english name is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span
              class="required">{{"PROJECTS.amana_manager" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="managerId"
              formControlName="managerId">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <ng-container *ngFor="let manager of managers">
                <option [value]="manager?.id">{{manager?.name | translate}}</option>
              </ng-container>
            </select>
            <div
              *ngIf="addProjectForm?.get('managerId')?.invalid && (addProjectForm?.get('managerId')?.dirty || addProjectForm?.get('managerId')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">manager is required</div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveProject()">
          <ng-container *ngIf="!isLoading">{{"TRANSLATOR.SAVE_CHANGES" | translate}}</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
