<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header align-items-center d-flex justify-content-end">
        <div class="flex-shrink-0">
          <button
            type="button"
            [routerLink]="['./create']"
            class="btn btn-sm m-2 p-2 btn_add"
          >
            Add New
          </button>
        </div>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <div class="table-responsive table-card mt-3 mb-1 overflow-hidden">
          <table class="table">
            <thead>
              <tr>
                <th data-sort="country-name">Country Name</th>
                <th data-sort="minister-name">Minister Name</th>
                <th data-sort="representative-name">Representative Name</th>
                <th style="text-align: center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of List">
                <td>
                  {{ data?.memberName }}
                </td>
                <td>
                  {{ data?.ministerName[0] || "--" }}
                </td>
                <td>
                  {{ data.representitaveName[0] || "--" }}
                </td>
                <td>
                  <div class="row">
                    <div
                      class="btn-group w-100 justify-content-evenly"
                      role="group"
                      aria-label="Basic example"
                    >
                      <a
                        style="cursor: pointer"
                        class="link-info fs-4"
                      >
                        <i class="fal fa-edit"></i>
                      </a>
                      <a
                        style="cursor: pointer"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteRecordModal"
                        class="link-danger fs-4"
                      >
                        <i class="fal fa-trash"></i
                      ></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-md-end align-items-md-center">
          <!-- <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                      Showing
                      {{service.startIndex}} to
                      {{service.endIndex}} of {{postsService.total}}
                      entries
                  </div>
              </div> -->
          <!-- Pagination -->
          <!-- <div class="col-sm-12 col-md-3">
            <div class="text-md-right float-md-end gridjs-pagination">
              <ngb-pagination
                [collectionSize]="pagination?.total"
                [(page)]="page"
                [pageSize]="pageSize"
                [ellipses]="true"
                [maxSize]="5"
                [boundaryLinks]="true"
                (pageChange)="getListItems()"
              >
                <ng-template ngbPaginationFirst>&laquo;</ng-template>
                <ng-template ngbPaginationLast> &raquo;</ng-template>
                <ng-template ngbPaginationPrevious>&#8249;</ng-template>
                <ng-template ngbPaginationNext>&#8250;</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
              </ngb-pagination>
            </div>
          </div> -->
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>
