<div class="row g-5 g-xl-8 justify-content-between">

  <div class="col-xl-12">

    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-center justify-content-between w-100">
          <span class="text-primary fw-bolder fs-4">{{projectDetails?.name || '--'}}</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
          <a class="btn btn-light-primary font-weight-bolder font-size-sm cursor-pointer" (click)="redirectToNew()" *ngIf="projectDetails">
            Create Invoice
          </a>
        </h3>
      </div>
      <!-- begin::Body -->
      <div class="card-body pt-3">
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract No

              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractNo || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract Date
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.createdDate | date}}</span>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-sm-center mb-7">
          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contractor
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractorName || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Consultant
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.consultantName || '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Status
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractStatus || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Sector
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.projectSector || '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Spent value
              </a>
              <span class="text-muted fw-bold d-block pt-1">0</span>
              <!-- <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.originalValue | number}}</span> -->
            </div>

          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>

</div>

<div class="card mb-5 mb-xl-8">

  <div class="card-header border-0 pt-5">

    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12">
      </div>
      <!--end::Search-->
    </div>

  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="min-w-100px">Invoice Reference</th>
            <th class="min-w-100px">Invoice Type</th>
            <th class="min-w-100px">Invoice Value</th>
            <th class="min-w-100px">MOF Number</th>
            <th class="min-w-100px">Etimad submit date</th>
            <th class="min-w-100px">Status</th>
            <th class="max-w-100px text-center">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>

          <tr *ngFor="let invoice of dataList; index as i">


            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.reference}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.type}}
              </a>
            </td>

            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.value}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.mofNumber}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.etimadSubmitDate | date}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.status}}
              </a>
            </td>
            <td>
              <div class="d-flex justify-content-center flex-shrink-0">

                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" *ngIf="invoice.statusId !== 4"
                  (click)="editInvoice(invoice.id)">
                  <app-keenicon name="pencil" class="fs-3"></app-keenicon>
                </a>

                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                  (click)="navigateInvoiceDetails(invoice.id)">
                  <app-keenicon name="eye" class="fs-3"></app-keenicon>
                </a>

              </div>
            </td>
          </tr>
          <tr *ngIf="!dataList?.length">
            <td colspan="12" class="text-center fs-2 text-primary">
              no items retrieved yet
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
