<div class="row g-5 g-xl-8 justify-content-between">
    <div class="col-xl-12">
      <div class="card mb-5 mb-xl-8">
        <!-- begin::Header -->
        <div class="card-header align-items-center border-0 mt-4">
          <h3 class="card-title align-items-start flex-column">
            <span class="fw-bolder text-gray-900">{{visitId ? 'Edit' : 'Add'}} Visit</span>
            <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
          </h3>
          <div class="card-toolbar">
            <a (click)="back()" class="btn btn-sm btn-danger d-flex">
              <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
              {{"ECOMMERCE.COMMON.BACK" | translate}}
            </a>
          </div>
        </div>
  
  
        <div class="card-body pt-3">
  
          <form [formGroup]="addVisitForm" class="form">
            <div class="card-body border-top p-9">
              <div class="row mb-2">
                <div class="col-lg-6">
                  <label class="col-lg-12 col-form-label fw-bold fs-6">
                    <span>
                      date
                    </span>
                  </label>
                  <div class="col-lg-12 fv-row">
                    <input type="date" class="form-control form-control-lg form-control-solid text-start"
                      name="fromDate" formControlName="fromDate" />
                    <div
                      *ngIf="addVisitForm?.get('fromDate')?.invalid && (addVisitForm?.get('fromDate')?.dirty || addVisitForm?.get('fromDate')?.touched)"
                      class="fv-plugins-message-container">
                      <div class="fv-help-block">date is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label class="col-lg-12 col-form-label fw-bold fs-6">
                    <span>
                      Final Date
                    </span>
                  </label>
                  <div class="col-lg-12 fv-row">
                    <input type="date" class="form-control form-control-lg form-control-solid text-start" name="finalDate"
                      formControlName="finalDate" />
                  </div>
                </div>
              </div>
  
              <div class="row mb-2">
                <div class="col-lg-12">
                  <label class="col-lg-12 col-form-label fw-bold fs-6">
                    <span>
                      Justification
                    </span>
                  </label>
                  <div class="col-lg-12 fv-row">
                    <textarea rows="4" class="form-control form-control-lg form-control-solid text-start"
                      name="justification" formControlName="justification"></textarea>
                    <div
                      *ngIf="addVisitForm?.get('justification')?.invalid && (addVisitForm?.get('justification')?.dirty || addVisitForm?.get('justification')?.touched)"
                      class="fv-plugins-message-container">
                      <div class="fv-help-block">justification is required</div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <div class="card-footer d-flex justify-content-end py-6 px-9">
              <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
                <ng-container *ngIf="!isLoading">{{"TRANSLATOR.ADD" | translate}}</ng-container>
                <ng-container *ngIf="isLoading">
                  <span clas="indicator-progress" [style.display]="'block'">
                    Please wait...{{ " " }}
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
                </ng-container>
              </button>
            </div>
          </form>
  
        </div>
        <!-- end::Body -->
      </div>
    </div>
  </div>
  
  <!-- modal -->
  <swal #noticeSwal [swalOptions]="swalOptions">
  </swal>
  