<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-6">

    <div class="card mb-5 mb-xl-8">
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Hse List</span>
        </h3>
      </div>
      <div class="card-body pt-3">
        <div class="d-flex align-items-sm-center mb-7">
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Street
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.street  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                location Remarks
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.locationRemarks  ||  '--'}}</span>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-sm-center mb-7">
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                hse Findings
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.hseFindings  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Finding Remark
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.findingRemarks ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>

        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                due Date
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.dueDate || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                evidences
              </a>
              <br>
              <span class="badge badge-light-primary fs-6 fw-bold my-2 cursor-pointer">
                {{findingDetails?.evidences.length}} files
              </span>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                category
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.categoryId || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Classification
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.classificationId  ||  '--'}}</span>
            </div>
          </div>
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-100 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Actions required
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{findingDetails?.actions || '--'}}</span>
            </div>

          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <!-- <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Finding Location</span>
        </h3> -->
        <div class="card-toolbar">
          <div class="d-flex flex-row-fluid flex-wrap justify-content-end">

            <div class=" me-2">
              <div class="card-toolbar">
                <button class="btn btn-sm" (click)="firePmoReviewModal()" [ngClass]="{
                  'btn-dark': findingDetails?.status === 'Returned To PMO',
                  'btn-light-dark': findingDetails?.status !== 'Returned To PMO'
                }" [disabled]="findingDetails?.status !== 'Returned To PMO'">
                  PMO review
                </button>
              </div>
            </div>

            <div class=" me-2">
              <div class="card-toolbar">
                <button class="btn btn-sm " (click)="fireConsultantReviewModal()" [ngClass]="{
                  'btn-dark': findingDetails?.status === 'Returned To Consultant',
                  'btn-light-dark': findingDetails?.status !== 'Returned To Consultant'
                }" [disabled]="findingDetails?.status !== 'Returned To Consultant'">
                  Consultant review
                </button>
              </div>
            </div>

            <div class=" me-2">
              <div class="card-toolbar">
                <button class="btn btn-sm" (click)="fireReturnConsultantModal()" [ngClass]="{
                  'btn-dark': findingDetails?.status === 'Submited To Contractor',
                  'btn-light-dark': findingDetails?.status !== 'Submited To Contractor'}"
                  [disabled]="findingDetails?.status !== 'Submited To Contractor'">
                  Return to consultant
                </button>
              </div>
            </div>

            <div class=" me-2">
              <div class="card-toolbar">
                <button class="btn btn-sm btn-dark" (click)="fireSubmitContractorModal()" [ngClass]="{
                  'btn-dark': findingDetails?.status === 'Submited To Consultant',
                  'btn-light-dark': findingDetails?.status !== 'Submited To Consultant'}"
                  [disabled]="findingDetails?.status !== 'Submited To Consultant'">
                  Submit to contractor
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="card-body pt-3">

        <google-map height="400px" width="100%" [options]="options">
          <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
        </google-map>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">

      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Inspection Findings Status</span>
        </h3>

      </div>

      <div class="card-body">

        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
              <tr class="fw-bolder text-muted">

                <th class="min-w-120px">status</th>
                <th class="min-w-120px">Created By</th>
                <th class="min-w-120px">Created date</th>
                <th class="min-w-140px">attachment</th>
                <th class="min-w-120px">code</th>
              </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              <tr *ngFor="let item of findingLogs; index as i">
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item?.status || '--'}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item?.createdBy || '--'}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item?.createdOn | date : 'dd-MM-yyyy'}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item.attachment || '--'}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{item?.approval || '--'}}
                  </a>
                </td>
              </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>

      </div>
    </div>
  </div>
</div>



<ng-template #firstModal let-modal>
  <form #firstForm="ngForm" (ngSubmit)="onFirstSubmit($event, firstForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Submit to contractor</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Clarifications</label>
        <textarea cols="4" class="form-control form-control-solid" name="clarifications"
          [(ngModel)]="firstModel.clarifications" #clarifications="ngModel" required></textarea>
        <div *ngIf="firstForm.submitted && firstForm.invalid"
          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          <div *ngIf="clarifications.errors?.['required']">clarifications is required</div>
        </div>
      </div>
      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Instructions</label>
        <textarea cols="4" class="form-control form-control-solid" name="instructions"
          [(ngModel)]="firstModel.instructions" #instructions="ngModel" required></textarea>
        <div *ngIf="firstForm.submitted && firstForm.invalid"
          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          <div *ngIf="instructions.errors?.['required']">instructions is required</div>
        </div>
      </div>
      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Attachment</label>
        <input type="file" class="form-control form-control-solid" name="attachment" [(ngModel)]="firstModel.attachment"
          #attachment="ngModel" required (change)="onFirstFileChange($event)" />
        <div *ngIf="firstForm.submitted && firstForm.invalid"
          class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
          <div *ngIf="attachment.errors?.['required']">file is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'" [disabled]="firstForm.invalid">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>

<ng-template #secondModal let-modal>
    <form #secondForm="ngForm" (ngSubmit)="onSecondSubmit($event, secondForm)">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Return to Consultant</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Date of Action Taken</label>
          <input type="date" class="form-control form-control-solid" name="dateOfActionsTaken"
            [(ngModel)]="secondModel.dateOfActionsTaken" #dateOfActionsTaken="ngModel" required />
          <div *ngIf="secondForm.submitted && secondForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="dateOfActionsTaken.errors?.['required']">date is required</div>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Action Taken</label>
          <textarea cols="4" class="form-control form-control-solid" name="actionsTaken"
            [(ngModel)]="secondModel.actionsTaken" #actionsTaken="ngModel" required></textarea>
          <div *ngIf="secondForm.submitted && secondForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="actionsTaken.errors?.['required']">action is required</div>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Clarifications</label>
          <textarea cols="4" class="form-control form-control-solid" name="instructions"
            [(ngModel)]="secondModel.instructions" #instructions="ngModel" required></textarea>
          <div *ngIf="secondForm.submitted && secondForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="instructions.errors?.['required']">clarifications is required</div>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Attachment</label>
          <input type="file" class="form-control form-control-solid" name="attachment" [(ngModel)]="firstModel.attachment"
            #attachment="ngModel" required (change)="onSecondFileChange($event)" />
          <div *ngIf="secondForm.submitted && secondForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="attachment.errors?.['required']">file is required</div>
          </div>
        </div>
      </div>
      <div class="modal-footer flex-center">
        <!--begin::Button-->
        <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
          (click)="modal.dismiss('cancel')">
          Discard
        </button>
        <!--end::Button-->

        <!--begin::Button-->
        <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
          [attr.data-kt-indicator]="isLoading ? 'on' : 'off'" [disabled]="secondForm.invalid">
          <span class="indicator-label">
            Submit
          </span>
          <span class="indicator-progress">
            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>
        <!--end::Button-->
      </div>
    </form>
</ng-template>

<ng-template #thirdModal let-modal>
    <form #thirdForm="ngForm" (ngSubmit)="onThirdSubmit($event, thirdForm)">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Submit to contractor</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="fv-row mb-7">
          <div class="form-check form-check-solid form-switch d-flex align-items-center">
            <input class="form-check-input w-45px h-30px me-2" type="checkbox" name="approved"
              [(ngModel)]="thirdModel.approved" #approved="ngModel" />
            <label class="form-check-label">{{thirdModel.approved ? 'Approve' : 'Reject'}}</label>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">validation and remarks</label>
          <textarea cols="4" class="form-control form-control-solid" name="validations"
            [(ngModel)]="thirdModel.validations" #validations="ngModel" required></textarea>
          <div *ngIf="thirdForm.submitted && thirdForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="validations.errors?.['required']">validations is required</div>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">further instructions</label>
          <textarea cols="4" class="form-control form-control-solid" name="furtherInstructions"
            [(ngModel)]="thirdModel.furtherInstructions" #furtherInstructions="ngModel" required></textarea>
          <div *ngIf="thirdForm.submitted && thirdForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="furtherInstructions.errors?.['required']">instructions is required</div>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Attachment</label>
          <input type="file" class="form-control form-control-solid" name="attachment" [(ngModel)]="firstModel.attachment"
            #attachment="ngModel" required (change)="onThirdFileChange($event)" />
          <div *ngIf="thirdForm.submitted && thirdForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="attachment.errors?.['required']">file is required</div>
          </div>
        </div>
      </div>
      <div class="modal-footer flex-center">
        <!--begin::Button-->
        <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
          (click)="modal.dismiss('cancel')">
          Discard
        </button>
        <!--end::Button-->

        <!--begin::Button-->
        <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
          [attr.data-kt-indicator]="isLoading ? 'on' : 'off'" [disabled]="thirdForm.invalid">
          <span class="indicator-label">
            Submit
          </span>
          <span class="indicator-progress">
            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>
        <!--end::Button-->
      </div>
    </form>
</ng-template>

<ng-template #forthModal let-modal>
    <form #forthForm="ngForm" (ngSubmit)="onForthSubmit($event, forthForm)">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Submit to contractor</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="fv-row mb-7">
          <div class="form-check form-check-solid form-switch d-flex align-items-center">
            <input class="form-check-input w-45px h-30px me-2" type="checkbox" name="approved"
              [(ngModel)]="forthModel.approved" #approved="ngModel" />
            <label class="form-check-label">{{forthModel.approved ? 'Approve' : 'Reject'}}</label>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">validation and remarks</label>
          <textarea cols="4" class="form-control form-control-solid" name="validations"
            [(ngModel)]="forthModel.validations" #validations="ngModel" required></textarea>
          <div *ngIf="forthForm.submitted && forthForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="validations.errors?.['required']">validations is required</div>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">further instructions</label>
          <textarea cols="4" class="form-control form-control-solid" name="furtherInstructions"
            [(ngModel)]="forthModel.furtherInstructions" #furtherInstructions="ngModel" required></textarea>
          <div *ngIf="forthForm.submitted && forthForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="furtherInstructions.errors?.['required']">instructions is required</div>
          </div>
        </div>
        <div class="fv-row mb-7">
          <label class="required fw-semibold fs-6 mb-2">Attachment</label>
          <input type="file" class="form-control form-control-solid" name="attachment" [(ngModel)]="firstModel.attachment"
            #attachment="ngModel" required (change)="onForthFileChange($event)" />
          <div *ngIf="forthForm.submitted && forthForm.invalid"
            class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
            <div *ngIf="attachment.errors?.['required']">file is required</div>
          </div>
        </div>
      </div>
      <div class="modal-footer flex-center">
        <!--begin::Button-->
        <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
          (click)="modal.dismiss('cancel')">
          Discard
        </button>
        <!--end::Button-->

        <!--begin::Button-->
        <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
          [attr.data-kt-indicator]="isLoading ? 'on' : 'off'" [disabled]="forthForm.invalid">
          <span class="indicator-label">
            Submit
          </span>
          <span class="indicator-progress">
            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>
        <!--end::Button-->
      </div>
    </form>
</ng-template>

