<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-6">

    <!-- <ng-container *ngIf="updateInfo">
      <div class="mb-10 bg-light-success p-8 rounded">
        <div class="text-danger fs-5 fw-bold">
          You must click on final submit after updating basic Info to confirm the update
        </div>
      </div>
    </ng-container> -->


    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Project Information</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-3">
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Project name
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.nameAr  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract Date
              </a>
              <span
                class="text-muted fw-bold d-block pt-1">{{projectDetails?.createdDate?.slice(0, 10)  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contract No
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractNo  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Consultant
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.consultantName ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Contractor
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.contractNo || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Finish date after extension
              </a>
              <span
                class="text-muted fw-bold d-block pt-1">{{projectDetails?.originalFinishDate?.slice(0, 10)  ||  '--'}}</span>
            </div>
          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
        <!-- begin::Item -->
        <div class="d-flex align-items-sm-center">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Sector
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{projectDetails?.projectSectorName}}</span>
            </div>

          </div>
          <!-- end::Title -->
        </div>
        <!-- end::Item -->
      </div>
      <!-- end::Body -->
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Update</span>
        </h3>
        <div class="me-2">
          <div class="card-toolbar">
            <a class="btn btn-sm btn-success" (click)="updateEot()">
              Add EOT
            </a>
          </div>
        </div>
      </div>
      <!-- end::Header -->
      <div class="card-body pt-3">
        <form #EotForm="ngForm" class="form">

          <div class="card-body border-top p-9">

            <div class="row mb-1">
              <label class="col-lg-12 col-form-label fw-bold fs-6">
                <span> EOT Approved Days(Days) </span>
              </label>
              <div class="col-lg-12 fv-row">
                <input disabled readonly type="text" class="form-control form-control-lg form-control-solid text-start"
                  name="eotDays" name="eotDays" [(ngModel)]="eotCard.eotDays" />
              </div>
            </div>

            <div class="row mb-1">
              <label class="col-lg-12 col-form-label fw-bold fs-6">
                <span> EOT Duration </span>
              </label>
              <div class="col-lg-12 fv-row">
                <input disabled readonly type="text" class="form-control form-control-lg form-control-solid text-start"
                  name="eotDuration" name="eotDuration" [(ngModel)]="eotCard.eotDuration" />
              </div>
            </div>

            <div class="row mb-1">
              <label class="col-lg-12 col-form-label fw-bold fs-6">
                <span> Eot Finish Date </span>
              </label>
              <div class="col-lg-12 fv-row">
                <input disabled readonly type="text" class="form-control form-control-lg form-control-solid text-start"
                  name="originalFinishDate" name="originalFinishDate" [(ngModel)]="eotCard.originalFinishDate" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card mb-5 mb-xl-8" *ngIf="projectDetails?.eoTs?.length">
  <div class="card-body py-3">
    <div class="table-responsive">
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <thead>
          <tr class="fw-bolder text-muted">

            <th class="min-w-140px">Expected Finish Date</th>
            <th class="min-w-140px">Eot Days</th>
            <th class="min-w-140px">Duration</th>
            <th class="min-w-140px">Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of projectDetails?.eoTs">
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{record?.expectedFinishDate | date:'yyyy-MM-dd' || '--'}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{record?.eotDays || '--'}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{record?.duration || '--'}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{record?.eotReason || '--'}}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #UpdateModal let-modal>
  <form #addForm="ngForm" (ngSubmit)="onSubmit($event, addForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">EOT Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px">

        <div class="fv-row mb-3">
          <label class="fw-semibold fs-6 mb-2">EOT Days</label>
          <input type="number" class="form-control form-control-solid" name="eotDays" min="0"
            (input)="onEotDaysInput($event)" [(ngModel)]="EotModel.eotDays" #name="ngModel" />
        </div>
        <div class="fv-row mb-3">
          <label class="fw-semibold fs-6 mb-2">EOT Approved Days</label>
          <input disabled type="text" class="form-control form-control-solid" name="eotApprovedDays"
            [(ngModel)]="EotModel.eotApprovedDays" #name="ngModel" />
        </div>

        <div class="fv-row mb-3">
          <label class="fw-semibold fs-6 mb-2">Expected Finish Date</label>
          <input disabled type="text" class="form-control form-control-solid" name="eotFinishDate"
            [(ngModel)]="EotModel.eotFinishDate" #name="ngModel" />
        </div>

        <div class="fv-row mb-3">
          <label class=" fw-semibold fs-6 mb-2">Approved letter number</label>
          <input type="number" class="form-control form-control-solid " name="approvedLetterNumber"
            [(ngModel)]="EotModel.approvedLetterNumber" #name="ngModel" />
        </div>

        <div class="fv-row mb-3">
          <label class=" fw-semibold fs-6 mb-2">Approved letter date</label>
          <input type="date" class="form-control form-control-solid " name="approvedLetterDate"
            [(ngModel)]="EotModel.approvedLetterDate" #name="ngModel" />
        </div>

        <div class="fv-row mb-3">
          <label class="fw-semibold fs-6 mb-2">Reason</label>
          <textarea class="form-control form-control-solid" name="eotReason" [(ngModel)]="EotModel.eotReason"
            #name="ngModel" required rows="3"></textarea>
        </div>

        <label class="col-lg-12 col-form-label fw-bold fs-6">
          <span>
            Eot Attachments
          </span>
        </label>
        <div class="col-lg-12 fv-row">
          <input type="file" class="form-control form-control-solid" name="eotAttachment"
            [(ngModel)]="EotModel.eotAttachment" #name="ngModel" required (change)="onFileSelected($event)" />
        </div>

      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="submit" class="btn btn-success w-100" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
