<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">add factory</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
        </div>
      </div>


      <div class="card-body pt-3">

        <form [formGroup]="addFactoryForm" class="form">
          <div class="card-body border-top p-9">

            <div class="row mb-2">
              <div class="col-lg-6">
                <button type="button" class="btn btn-success" (click)="openPopup()">
                  <ng-container>+ add cr</ng-container>
                </button>
              </div>

            </div>
            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Factory CR
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="factoryCRId"
                    formControlName="factoryCRId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of factoriesCR">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addFactoryForm?.get('factoryCRId')?.invalid && (addFactoryForm?.get('factoryCRId')?.dirty || addFactoryForm?.get('factoryCRId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">cr is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Factory Fields
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="factoryFieldId"
                    formControlName="factoryFieldId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of factoryFields">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addFactoryForm?.get('factoryFieldId')?.invalid && (addFactoryForm?.get('factoryFieldId')?.dirty || addFactoryForm?.get('factoryFieldId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">field is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Description
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="description" formControlName="description" />
                  <div
                    *ngIf="addFactoryForm?.get('description')?.invalid && (addFactoryForm?.get('description')?.dirty || addFactoryForm?.get('description')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">description is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Ex Year
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="year"
                    formControlName="year" (keypress)="numbersOnly($event)" />
                  <div
                    *ngIf="addFactoryForm?.get('year')?.invalid && (addFactoryForm?.get('year')?.dirty || addFactoryForm?.get('year')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">year is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="map-container">
              <span class="fw-bold fs-6 mb-3">Location – Upload site location</span><br><br>
              <google-map height="400px" width="100%" [options]="options" (mapClick)="onMapClick($event)">
                <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
              </google-map>
            </div>


            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Latitude
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="latitude"
                    formControlName="latitude" />
                  <div
                    *ngIf="addFactoryForm?.get('latitude')?.invalid && (addFactoryForm?.get('latitude')?.dirty || addFactoryForm?.get('latitude')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">latitude is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Longitude
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="longitude"
                    formControlName="longitude" />
                  <div
                    *ngIf="addFactoryForm?.get('longitude')?.invalid && (addFactoryForm?.get('longitude')?.dirty || addFactoryForm?.get('longitude')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">longitude is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Repre name
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="repreName"
                    formControlName="repreName" />
                  <div
                    *ngIf="addFactoryForm?.get('repreName')?.invalid && (addFactoryForm?.get('repreName')?.dirty || addFactoryForm?.get('repreName')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">repre name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Repre phone
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="reprePhone" formControlName="reprePhone" (keypress)="numbersOnly($event)" />
                  <div
                    *ngIf="addFactoryForm?.get('reprePhone')?.invalid && (addFactoryForm?.get('reprePhone')?.dirty || addFactoryForm?.get('reprePhone')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">repre phone is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Repre email
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="reprEmail" formControlName="reprEmail" />
                  <div
                    *ngIf="addFactoryForm?.get('reprEmail')?.invalid && (addFactoryForm?.get('reprEmail')?.dirty || addFactoryForm?.get('reprEmail')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">repre email is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Profile attach
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-lg form-control-solid text-start"
                    name="profileAttachment" formControlName="profileAttachment" (change)="onProfileFileChange($event)" />
                  <div
                    *ngIf="addFactoryForm?.get('profileAttachment')?.invalid && (addFactoryForm?.get('profileAttachment')?.dirty || addFactoryForm?.get('profileAttachment')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">attachment is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Project size
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="projectSize" formControlName="projectSize" (keypress)="numbersOnly($event)" />
                  <div
                    *ngIf="addFactoryForm?.get('projectSize')?.invalid && (addFactoryForm?.get('projectSize')?.dirty || addFactoryForm?.get('projectSize')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">size is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    No of employees
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="numOfEmployess" formControlName="numOfEmployess" (keypress)="numbersOnly($event)" />
                  <div
                    *ngIf="addFactoryForm?.get('numOfEmployess')?.invalid && (addFactoryForm?.get('numOfEmployess')?.dirty || addFactoryForm?.get('numOfEmployess')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">number is required</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row mb-2">

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Last financial attachments
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-lg form-control-solid text-start"
                    name="lastFinancialAttachment" formControlName="lastFinancialAttachment" (change)="onLastFileChange($event)" />
                  <div
                    *ngIf="addFactoryForm?.get('lastFinancialAttachment')?.invalid && (addFactoryForm?.get('lastFinancialAttachment')?.dirty || addFactoryForm?.get('lastFinancialAttachment')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">attachment is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    approve letter attachment
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-lg form-control-solid text-start"
                    name="approveletterAttachment" formControlName="approveletterAttachment" (change)="onApproveFileChange($event)" />
                  <div
                    *ngIf="addFactoryForm?.get('approveletterAttachment')?.invalid && (addFactoryForm?.get('approveletterAttachment')?.dirty || addFactoryForm?.get('approveletterAttachment')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">attachment is required</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.ADD" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<ng-template #crModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onAddFactoryCR($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">add Evaluation Category</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="collapse show">

        <div class="fv-row mb-7">
          <label class="col-lg-12 col-form-label fw-bold fs-6">CR Number</label>
          <input type="text" class="form-control form-control-lg form-control-solid text-start" name="crNumber" [(ngModel)]="crNumber" />
        </div>
        <div class="fv-row mb-7">
          <label class="col-lg-12 col-form-label fw-bold fs-6">Name En</label>
          <input type="text" class="form-control form-control-lg form-control-solid text-start" name="CrNameEn" [(ngModel)]="crNameEn" />
        </div>
        <div class="fv-row mb-7">
          <label class="col-lg-12 col-form-label fw-bold fs-6">Name Ar</label>
          <input type="text" class="form-control form-control-lg form-control-solid text-start" name="CrNameAr" [(ngModel)]="crNameAr" />
        </div>
        <div class="fv-row mb-7">
          <label class="col-lg-12 col-form-label fw-bold fs-6">Weight</label>
          <input type="file" class="form-control form-control-lg form-control-solid text-start" name="crAttachment" [(ngModel)]="crAttachment"
            (change)="onFileChange($event)" />
        </div>

      </div>
    </div>
    <div class="modal-footer flex-center">
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'" [disabled]="!crNumber || !crNameEn || !crNameAr || !crAttachment">
        <span class="indicator-label">
          {{"TRANSLATOR.ADD" | translate}}
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
