<div class="horizontal-tree">
  <ng-container *ngFor="let node of treeData">
    <div class="node-container">
      <div class="node" [ngClass]="{'bg-hover-light-primary': node.attachments.length !== 0}">
        <div class="node-content" (click)="openNodePopup(node)">
          <span class="node-title">{{ node.name }}</span>
        </div>
        <button class="btn btn-icon btn-primary" (click)="toggleNode(node)" *ngIf="node.categories?.length > 0">
          {{ node.expanded ? '-' : '+' }}
        </button>
        <input type="file" #fileInput (change)="uploadNodeTemplate($event, node)" style="display: none;">
        <button class="btn btn-sm btn-success" (click)="fileInput.click()"
          *ngIf="!node.categories?.length && !node.attachments.length">
          {{ 'add' }}
        </button>
      </div>

      <div class="child-nodes" *ngIf="node.expanded && node.categories?.length > 0">
        <ng-container *ngFor="let category of node.categories">
          <div class="child-node" [ngClass]="{'bg-hover-light-primary': category.attachments.length !== 0}" >
            <span (click)="openNodePopup(category)">{{ category.name }}</span>
            <button class="btn btn-icon btn-primary" (click)="toggleNode(category)"
              *ngIf="category.subCategories?.length > 0">
              {{ category.expanded ? '-' : '+' }}
            </button>
            <input type="file" #fileInput2 (change)="uploadCategoryTemplate($event, category)" style="display: none;">
            <button *ngIf="!category.subCategories?.length && !category.attachments.length" class="btn btn-sm btn-success" (click)="fileInput2.click()">
              {{ 'add' }}
            </button>

            <div class="grandchild-nodes" *ngIf="category.expanded && category.subCategories?.length > 0">
              <ng-container *ngFor="let subCategory of category.subCategories">
                <div class="child-node" [ngClass]="{'bg-hover-light-primary': subCategory.attachments.length !== 0}" >
                  <span (click)="openNodePopup(subCategory)">{{ subCategory.name }}</span>
                  <button class="btn btn-icon btn-primary" (click)="toggleNode(subCategory)"
                    *ngIf="subCategory.leaves?.length > 0">
                    {{ subCategory.expanded ? '-' : '+' }}
                  </button>
                  <input type="file" #fileInput3 (change)="uploadSubCategoryTemplate($event, subCategory)"
                    style="display: none;">
                  <button *ngIf="!subCategory.leaves?.length && !subCategory.attachments.length" class="btn btn-sm btn-success"
                    (click)="fileInput3.click()">
                    {{ 'add' }}
                  </button>
                  <div class="leaf-nodes" *ngIf="subCategory.expanded && subCategory.leaves?.length > 0">
                    <div class="child-node" *ngFor="let leaf of subCategory.leaves">
                      <span>{{ leaf.name }}</span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>


<ng-template #nodeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Role Details</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="node_file_wrap">
      <ng-container *ngFor="let item of this.nodeModelData?.attachments; let i = index">
        <span>{{i+1}}.</span>
        <h4 class="file">File:
          <span class="bg-primary text-white badge" (click)="downloadFile(item.attachment)">
            {{item?.attachment}}
          </span>
        </h4>
        <h4 class="date">Created By: {{item?.createdBy}} </h4>
      </ng-container>

    </div>
  </div>
</ng-template>
