// Theme 1 (Default)
$theme1-primary: #0c375a;
$theme1-primary-hover: #0b3f66;
$theme1-accent: #12a8c0;
$theme1-sidenav: #1f5c8d;
$theme1-background: #fff;
$theme1-text: #333;
$theme1-danger: #f2693f;
$theme1-white: #fff;
$theme1-black: #000;

// Theme 2
$theme2-primary: #e91e63;
$theme1-primary-hover: #0b3f66;
$theme2-accent: #673ab7;
$theme1-sidenav: #1f5c8d;
$theme2-background: #212121;
$theme2-text: #fff;
$theme2-danger: #f2693f;
$theme2-white: #fff;
$theme2-black: #000;
