<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">

      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900" *ngIf="!fileId">{{"Project_files.Add_New" | translate}}</span>
          <span class="fw-bolder text-gray-900" *ngIf="fileId">{{"Project_files.Edit_Attachment" | translate}}</span>
        </h3>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
        </div>
      </div>

      <div class="card-body pt-3">
        <form [formGroup]="addAttachmentForm" class="form">
          <div class="card-body border-top p-9">

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Category
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="categoryId"
                    formControlName="categoryId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of categories">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addAttachmentForm?.get('categoryId')?.invalid && (addAttachmentForm?.get('categoryId')?.dirty || addAttachmentForm?.get('categoryId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">Category is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Sub-Category
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="subCategoryId"
                    formControlName="subCategoryId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of subCategories">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addAttachmentForm?.get('subCategoryId')?.invalid && (addAttachmentForm?.get('subCategoryId')?.dirty || addAttachmentForm?.get('subCategoryId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">sub-category is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Document class
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="classificationId"
                    formControlName="classificationId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of classifications">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addAttachmentForm?.get('classificationId')?.invalid && (addAttachmentForm?.get('classificationId')?.dirty || addAttachmentForm?.get('classificationId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">class is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Document Type
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="subClassificationId"
                    formControlName="subClassificationId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of subClassifications">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addAttachmentForm?.get('subClassificationId')?.invalid && (addAttachmentForm?.get('subClassificationId')?.dirty || addAttachmentForm?.get('subClassificationId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">sub-discipline is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Title
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="title"
                    formControlName="title" />
                  <div
                    *ngIf="addAttachmentForm?.get('title')?.invalid && (addAttachmentForm?.get('title')?.dirty || addAttachmentForm?.get('title')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">title is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Revision
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="revision"
                    formControlName="revision" />
                  <div
                    *ngIf="addAttachmentForm?.get('revision')?.invalid && (addAttachmentForm?.get('revision')?.dirty || addAttachmentForm?.get('revision')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">revision is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Reason for issue
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="purposeId"
                    formControlName="purposeId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of attachmentPurposes">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addAttachmentForm?.get('purposeId')?.invalid && (addAttachmentForm?.get('purposeId')?.dirty || addAttachmentForm?.get('purposeId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">reason is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Document Status
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="statusId"
                    formControlName="statusId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of attachmentStatus">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addAttachmentForm?.get('statusId')?.invalid && (addAttachmentForm?.get('statusId')?.dirty || addAttachmentForm?.get('statusId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">status is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Revision date
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid text-start"
                    name="revisionDate" formControlName="revisionDate" />
                  <div
                    *ngIf="addAttachmentForm?.get('revisionDate')?.invalid && (addAttachmentForm?.get('revisionDate')?.dirty || addAttachmentForm?.get('revisionDate')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">date is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Received date
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid text-start"
                    name="receivedDate" formControlName="receivedDate" />
                  <div
                    *ngIf="addAttachmentForm?.get('receivedDate')?.invalid && (addAttachmentForm?.get('receivedDate')?.dirty || addAttachmentForm?.get('receivedDate')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">date is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Reference Document No
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="referenceNo" formControlName="referenceNo" />
                  <div
                    *ngIf="addAttachmentForm?.get('referenceNo')?.invalid && (addAttachmentForm?.get('referenceNo')?.dirty || addAttachmentForm?.get('referenceNo')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">reference no is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Related reference No
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="alternativeReferenceNumber" formControlName="alternativeReferenceNumber" />
                  <div
                    *ngIf="addAttachmentForm?.get('alternativeReferenceNumber')?.invalid && (addAttachmentForm?.get('alternativeReferenceNumber')?.dirty || addAttachmentForm?.get('alternativeReferenceNumber')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">revision is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Comments
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="comments"
                    formControlName="comments" />
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Projects Files Attachments
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-lg form-control-solid text-start" name="file"
                    formControlName="file" (change)="onAttachment($event)" />
                  <div
                    *ngIf="addAttachmentForm?.get('file')?.invalid && (addAttachmentForm?.get('file')?.dirty || addAttachmentForm?.get('file')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">attachments is required</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.ADD" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
