<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Stage Gate Management Users</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
        </div>
      </div>


      <div class="card-body pt-3">

        <form [formGroup]="addCommitteeForm" class="form">
          <div class="card-body border-top p-9">

            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Committee Coordinator
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="coordinatorId"
                    formControlName="coordinatorId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let user of users">
                      <option [value]="user?.id">{{user?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addCommitteeForm?.get('coordinatorId')?.invalid && (addCommitteeForm?.get('coordinatorId')?.dirty || addCommitteeForm?.get('coordinatorId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">coordinator is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Committee Members
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="users" formControlName="committeeMembers"
                    (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeselect($event)"
                    (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                  <div
                    *ngIf="addCommitteeForm?.get('committeeMembers')?.invalid && (addCommitteeForm?.get('committeeMembers')?.dirty || addCommitteeForm?.get('committeeMembers')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">Member is required</div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.ADD" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
