<form [formGroup]="commitForm">
  <div formArrayName="committeeApprovals">
    <div *ngFor="let member of committeeApprovals.controls; let i = index" [formGroupName]="i" class="member-row">
      <!-- Check if the current user is authorized to see the form -->
      <div class="mt-5 mb-5" *ngIf="member.get('id')?.value === userId">
        <h2>{{ member.get('name')?.value }}</h2>
        <div class="radio-group mt-3">
          <label>
            <input type="radio" formControlName="approvalStatus" value="approved" /> Approve
          </label>

        </div>
      </div>

      <!-- Display message if the user is not authorized -->
      <!-- <ng-template #notAuthorized>
        <div class="mb-10 bg-light-primary p-8 rounded mt-5">
          <div class="text-primary fs-5 fw-bold">
            waiting for other approvals
          </div>
        </div>
      </ng-template> -->
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 w-75 mx-auto">
      <thead class="table-success">
        <tr class="fw-bolder text-muted">

          <th class="min-w-190px">#</th>
          <th class="max-w-100px">user</th>
          <th class="max-w-100px">Date</th>
          <th class="min-w-140px">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of approveUsers; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.approvedDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ user.status || '--' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-primary mt-5" (click)="onSubmit()" [disabled]="commitForm.invalid">Submit</button>
</form>



<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
