<div class="row g-5 g-xl-8 justify-content-between">

  <div [ngClass]="{'col-xl-6': letterId, 'col-xl-12': !letterId}">
    <div class="card mb-5 mb-xl-10">
      <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
        data-bs-target="#kt_add_company" aria-expanded="true" aria-controls="kt_add_company">
        <div class="card-title m-0">
          <h3 class="fw-bolder m-0">{{"LETTERS.Add_Letter" | translate}}</h3>
        </div>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex" *ngIf="!letterId">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
          <a (click)="addInspectorModal()" class="btn btn-sm btn-light-warning d-flex" *ngIf="letterId">
            Observer Identification
          </a>
        </div>
      </div>
      <div id="kt_add_company" class="collapse show">
        <form [formGroup]="addLetterForm" class="form">
          <div class="card-body border-top p-9">

            <div class="row mb-6">
              <label class="col-lg-4 col-form-label required fw-bold fs-6">Date of request for coordination:</label>
              <div class="col-lg-8 fv-row">
                <input type="date" class="form-control form-control-lg form-control-solid"
                  formControlName="requestDate" />
                <div
                  *ngIf="addLetterForm?.get('requestDate')?.invalid && (addLetterForm?.get('requestDate')?.dirty || addLetterForm?.get('requestDate')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">date is required</div>
                </div>
              </div>
            </div>

            <div class="row mb-6" *ngIf="letterId">
              <label class="col-lg-4 col-form-label required fw-bold fs-6">Focal Point</label>
              <div class="col-lg-8 fv-row">
                <input type="text" value="--" class="form-control form-control-lg form-control-solid" [disabled]=true />
              </div>
            </div>

            <div class="row mb-6">
              <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Coordinating
                  Body</span></label>
              <div class="col-lg-8 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" name="Type"
                  formControlName="stakeHolderId">
                  <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                  <ng-container *ngFor="let item of stackHolders">
                    <option [value]="item?.id">{{item?.name}}</option>
                  </ng-container>
                </select>
                <div
                  *ngIf="addLetterForm?.get('stakeHolderId')?.invalid && (addLetterForm?.get('stakeHolderId')?.dirty || addLetterForm?.get('stakeHolderId')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">stakeHolder is required</div>
                </div>
              </div>
            </div>


            <div class="row mb-6">
              <label class="col-lg-4 col-form-label required fw-bold fs-6">Subject</label>
              <div class="col-lg-8 fv-row">
                <textarea class="form-control form-control-lg form-control-solid" formControlName="subject"
                  cols="3"></textarea>
                <div
                  *ngIf="addLetterForm?.get('subject')?.invalid && (addLetterForm?.get('subject')?.dirty || addLetterForm?.get('subject')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">subject is required</div>
                </div>
              </div>
            </div>

            <div class="row mb-6">
              <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">District</span></label>
              <div class="col-lg-8 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" name="Type"
                  formControlName="districtId">
                  <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                  <ng-container *ngFor="let dis of Districts">
                    <option [value]="dis?.id">{{dis?.name}}</option>
                  </ng-container>
                </select>
                <div
                  *ngIf="addLetterForm?.get('districtId')?.invalid && (addLetterForm?.get('districtId')?.dirty || addLetterForm?.get('districtId')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">district is required</div>
                </div>
              </div>
            </div>

            <div class="row mb-6">
              <label class="col-lg-4 col-form-label fw-bold fs-6"><span></span></label>
              <div class="col-lg-8 fv-row">
                <select class="form-select form-select-solid form-select-lg fw-bold" disabled>
                  <option [value]="areas?.id" disabled selected>{{areas?.name}}</option>
                </select>
              </div>
            </div>

            <div class="row mb-6">
              <label class="col-lg-4 col-form-label required fw-bold fs-6">Street</label>
              <div class="col-lg-8 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" formControlName="street" />
                <div
                  *ngIf="addLetterForm?.get('street')?.invalid && (addLetterForm?.get('street')?.dirty || addLetterForm?.get('street')?.touched)"
                  class="fv-plugins-message-container">
                  <div class="fv-help-block">street is required</div>
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9" *ngIf="!letterId">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.SAVE_CHANGES" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="col-xl-6" *ngIf="letterId">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-center justify-content-between w-100">
          <span class="fw-bolder text-gray-900">Credits and Notes</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
          <a class="btn btn-sm btn-light-warning" (click)="approveLetter()" *ngIf="!letterDetails?.approved">
            Approve
          </a>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
          </button>
          <!-- end::Menu -->
        </div>
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body pt-3">

        <div class="row mb-6 d-flex flex-column">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">notes</label>
          <div class="col-lg-12 fv-row">
            <textarea class="form-control form-control-lg form-control-solid" cols="3" name="noteText"
              [(ngModel)]="noteText"></textarea>
          </div>
        </div>

        <ng-container *ngIf="letterDetails?.notes.length">
          <div class="d-flex align-items-center mb-4" *ngFor="let item of letterDetails?.notes">
            <div class="symbol symbol-45px me-5">
              <img src="../../../../../assets/media/icons/user-icon-2400.png" alt="img" />
            </div>
            <div class="d-flex justify-content-start flex-column">
              <a class="text-gray-900 fw-bolder text-hover-primary fs-4">
                {{item?.userName}}
              </a>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{item?.note}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7">
                {{item?.createdOn | date: 'dd-MM-yyyy'}}
              </span>
            </div>
          </div>
        </ng-container>


        <button type="button" class="btn btn-primary float-end" (click)="addNewNote()" *ngIf="!letterDetails?.approved">
          Add
        </button>

      </div>
      <!-- end::Body -->
    </div>
  </div>


</div>



<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<ng-template #inspectorModal let-modal>
  inspectorId
  <form>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">

      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Current Observer</label>
        <input type="text" class="form-control form-control-solid" name="name" [disabled]="true" required
          [value]="letterDetails.inspector || '--'" />
      </div>
      <div class="fv-row mb-7">
        <label class="required fw-semibold fs-6 mb-2">Commissioning Supervisor</label>
        <select class="form-select form-select-solid form-select-lg fw-bold" name="Type"
          [(ngModel)]="inspectorModelData.inspectorId">
          <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
          <ng-container *ngFor="let user of inspectionUsers">
            <option [value]="user?.id">{{user?.name}}</option>
          </ng-container>
        </select>
      </div>

    </div>
    <div class="modal-footer flex-center">

      <!--begin::Button-->
      <button type="button" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'" (click)="submitNewInspector()">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
