<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">
  <ng-container *ngIf="roles?.length">
    <ng-container *ngFor="let role of roles">
      <div class="col-md-4">
        <div class="card card-flush h-md-100">
          <div class="card-header">
            <div class="card-title">
              <h2>{{ role.name }}</h2>
            </div>
          </div>
          <div class="card-body pt-1">
            <div class="fw-bold text-gray-600 mb-5">Total users with this role: {{ role?.length }}</div>
            <br>
            <div class="d-flex flex-column text-gray-600">
              <ng-container>
                <div class="d-flex align-items-center py-2">
                  <span class="bullet bg-primary me-3"></span>{{ roles[0]?.permission || 'No permissions given...' }}
                </div>
              </ng-container>
            </div>
          </div>
          <!-- <div class="card-footer flex-wrap pt-0">
            <a class="btn btn-light btn-active-primary my-1 me-2">View Role</a>
            <button type="button" class="btn btn-light btn-active-light-primary my-1">Edit Role</button>
          </div> -->
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- <div class="ol-md-4">
    <div class="card h-md-100" style="background-color: rgba(0,0,0,0.5)">
      <div class="card-body d-flex flex-center">
        <button type="button" class="btn btn-clear d-flex flex-column flex-center">
          <img src="assets/media/illustrations/sketchy-1/4.png" alt="" class="mw-100 mh-150px mb-7" />
          <div class="fw-bold fs-3 text-gray-600 text-hover-primary">Add New Role</div>
        </button>
      </div>
    </div>
  </div> -->
</div>
