<div class="row">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">

        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Initial Delivery List Progress</span>
        </h3>
        <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
          title="Click to add a user">
          <ng-container *ngIf="activeStep === 5">
            <button class="btn btn-success font-weight-bolder font-size-sm cursor-pointer"
              (click)="openStatusModal()">
              Show Status
            </button>
          </ng-container>
          <ng-container *ngIf="activeStep !== 5">
            <button class="btn btn-light-success font-weight-bolder font-size-sm cursor-pointer"
              (click)="openStatusModal()">
              Update Status
            </button>
          </ng-container>

        </div>
      </div>
      <div class="card-body pt-3">
        <div class="wizard-container">
          <div *ngFor="let step of steps; let i = index" class="wizard-step" [class.active]="isStepActive(i + 1)">

            <div class="step-number">{{ i + 1 }}</div>
            <div class="step-title">{{ step.name }}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #UpdateStatusModal let-modal>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmitStatus()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Invoice Status</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <div class="row mb-6">

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5" style="flex: 0.3;">
              <input class="form-check-input" type="checkbox" formControlName="createCommittee" />
              <span class="fw-bold ps-2 fs-6">create committee</span>
            </label>
            <input type="date" class="form-control form-control-solid" style="flex: 0.3;"
              formControlName="createCommitteeDate" />
            <!-- <div
              *ngIf="updateForm?.get('createCommitteeDate')?.invalid && (updateForm?.get('createCommitteeDate')?.dirty || updateForm?.get('createCommitteeDate')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">date is required</div>
            </div> -->
            <ng-container *ngIf="!createCommitteeSelectedFile">
              <input type="file" class="form-control form-control-solid" style="flex: 0.3;"
                formControlName="createCommitteeFile" (change)="onCreateCommitteeFileSelected($event)" />
            </ng-container>
            <ng-container *ngIf="createCommitteeSelectedFile">
              <span style="min-width: 80px; padding: 15px;"
                class="badge badge-light-primary fs-6 fw-bold my-2 cursor-pointer" (click)="downloadFile(createCommitteeSelectedFile.name)">
                {{ createCommitteeSelectedFile.name }}
              </span>
            </ng-container>
            <!-- <div
              *ngIf="updateForm?.get('createCommitteeFile')?.invalid && (updateForm?.get('createCommitteeFile')?.dirty || updateForm?.get('createCommitteeFile')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">file is required</div>
            </div> -->
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5" style="flex: 0.15;">
              <input class="form-check-input" type="checkbox" formControlName="trackNotes" />
              <span class="fw-bold ps-2 fs-6">track notes</span>
            </label>
            <label class="form-check form-check-inline form-check-solid me-5" style="flex: 0.15;">
              <input class="form-check-input" type="checkbox" formControlName="notApplied" />
              <span class="fw-bold ps-2 fs-6">not applied</span>
            </label>
            <input type="date" class="form-control form-control-solid" style="flex: 0.3;"
              formControlName="trackNotesDate" />
            <ng-container *ngIf="!trackNotesSelectedFile">
              <input type="file" class="form-control form-control-solid" style="flex: 0.3;"
                formControlName="trackNotesFile" (change)="onTrackNotesFileSelected($event)" />
            </ng-container>
            <ng-container *ngIf="trackNotesSelectedFile">
              <span style="min-width: 80px; padding: 15px;"
                class="badge badge-light-primary fs-6 fw-bold my-2 cursor-pointer" (click)="downloadFile(trackNotesSelectedFile.name)">
                {{ trackNotesSelectedFile.name }}
              </span>
            </ng-container>
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5" style="flex: 0.3;">
              <input class="form-check-input" type="checkbox" formControlName="provideContractorNotes" />
              <span class="fw-bold ps-2 fs-6">Provide notes</span>
            </label>
            <input type="date" class="form-control form-control-solid" style="flex: 0.3;"
              formControlName="provideContractorNotesDate" />
            <ng-container *ngIf="!provideContractorNotesSelectedFile">
              <input type="file" class="form-control form-control-solid" style="flex: 0.3;"
                formControlName="provideContractorNotesFile" (change)="onProvideContractorNotesFileSelected($event)" />
            </ng-container>
            <ng-container *ngIf="provideContractorNotesSelectedFile">
              <span style="min-width: 80px; padding: 15px;"
                class="badge badge-light-primary fs-6 fw-bold my-2 cursor-pointer" (click)="downloadFile(provideContractorNotesSelectedFile.name)">
                {{ provideContractorNotesSelectedFile.name }}
              </span>
            </ng-container>
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5" style="flex: 0.3;">
              <input class="form-check-input" type="checkbox" formControlName="completeNotes" />
              <span class="fw-bold ps-2 fs-6">Complete Notes</span>
            </label>
            <input type="date" class="form-control form-control-solid" style="flex: 0.3;"
              formControlName="completeNotesDate" />
            <ng-container *ngIf="!completeNotesSelectedFile">
              <input type="file" class="form-control form-control-solid" style="flex: 0.3;"
                formControlName="completeNotesFile" (change)="onCompleteNotesFileSelected($event)" />
            </ng-container>
            <ng-container *ngIf="completeNotesSelectedFile">
              <span style="min-width: 80px; padding: 15px;"
                class="badge badge-light-primary fs-6 fw-bold my-2 cursor-pointer" (click)="downloadFile(completeNotesSelectedFile.name)">
                {{ completeNotesSelectedFile.name }}
              </span>
            </ng-container>
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5" style="flex: 0.3;">
              <input class="form-check-input" type="checkbox" formControlName="signContract" />
              <span class="fw-bold ps-2 fs-6">Sign Contract</span>
            </label>
            <input type="date" class="form-control form-control-solid" style="flex: 0.3;"
              formControlName="signContractDate" />
            <ng-container *ngIf="!signContractSelectedFile">
              <input type="file" class="form-control form-control-solid" style="flex: 0.3;"
                formControlName="signContractFile" (change)="onSignContractFileSelected($event)" />
            </ng-container>
            <ng-container *ngIf="signContractSelectedFile">
              <span style="min-width: 80px; padding: 15px;"
                class="badge badge-light-primary fs-6 fw-bold my-2 cursor-pointer" (click)="downloadFile(signContractSelectedFile.name)">
                {{ signContractSelectedFile.name }}
              </span>
            </ng-container>
          </div>
        </div>



      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary" *ngIf="activeStep !== 5"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
