<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_add_company" aria-expanded="true" aria-controls="kt_add_company">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">{{"COMPANY.Add_Company" | translate}}</h3>
    </div>
    <div class="card-toolbar">
      <a (click)="back()" class="btn btn-sm btn-danger d-flex">
        <!-- <app-keenicon name="arrow-left" class="fs-3"></app-keenicon> -->
        {{"ECOMMERCE.COMMON.BACK" | translate}}
      </a>
    </div>
  </div>
  <div id="kt_add_company" class="collapse show">
    <form novalidate="" class="form">
      <div class="card-body border-top p-9">
        <!-- <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input type="text" class="
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0
                  " placeholder="First name" name="fName" value="Max" />
              </div>
              <div class="col-lg-6 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Last name"
                  name="lName" value="Smith" />
              </div>
            </div>
          </div>
        </div> -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">{{"COMPANY.TITLE" | translate}}</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Company name"
              name="co_name" />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">{{"COMPANY.EN_NAME" | translate}}</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Company name"
              name="eng_name" />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">{{"COMPANY.TYPE" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="Type">
              <option value="">{{"TRANSLATOR.SELECTION" | translate}}</option>
              <option value="consultant">{{"COMPANY.consultant" | translate}}</option>
              <option value="contractor">{{"COMPANY.contractor" | translate}}</option>
              <option value="riyadh_municipality">{{"COMPANY.riyadh_municipality" | translate}}</option>
              <option value="governmental_institution">{{"COMPANY.governmental_institution" | translate}}</option>
            </select>
            <!-- <div class="fv-plugins-message-container">
              <div class="fv-help-block">Type is required</div>
            </div> -->
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">CR Number</span></label>
          <div class="col-lg-8 fv-row">
            <input type="tel" class="form-control form-control-lg form-control-solid" placeholder="cr number"
            name="cr_number" />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Theme/Main Color</label>
          <div class="col-lg-8 fv-row">
            <input type="color" class="form-control form-control-lg form-control-solid w-25"
              name="main_color" value="#e66465" />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Company Address</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="company address"
              name="co_address" />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Company Description</label>
          <div class="col-lg-8 fv-row">
            <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Company description"
              name="company_description" />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Company Phone</span></label>
          <div class="col-lg-8 fv-row">
            <input type="tel" class="form-control form-control-lg form-control-solid" placeholder="company number"
              name="companyPhone" />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Company Email</span></label>
          <div class="col-lg-8 fv-row">
            <input type="tel" class="form-control form-control-lg form-control-solid" placeholder="company email"
              name="company_email" />
          </div>
        </div>

        <div class="row mb-0">
          <label class="col-lg-4 col-form-label fw-bold fs-6">is Deleted</label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input class="form-check-input w-45px h-30px" type="checkbox" id="is_deleted" /><label
                class="form-check-label"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveSettings()">
          <ng-container *ngIf="!isLoading">Save Changes</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>
