:host {
  height: 100%;
}

.auth-form-panel {
  background-color: #f8fafc;
}

.auth-form-wrapper {
  width: 100%;
  max-width: 560px;
}

.froha-branding-bg {
  position: relative;
  overflow: hidden;
  background: #041c7f;
}

.froha-branding-overlay {
  position: absolute;
  inset: 0;
  background-image: url("assets/media/misc/pmis.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}