<!-- <div class="d-flex flex-column flex-center flex-column-fluid">
  <div class="d-flex flex-column flex-center text-center p-10">
    <div class="card card-flush  w-lg-650px py-5">
      <div class="card-body py-15 py-lg-20">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div class="d-flex flex-column flex-lg-row flex-column-fluid">

  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
      <!--begin::Wrapper-->
      <div class="<?php echo $params['wrapperClass']?> p-10">
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->

  </div>
  <!--end::Body-->

  <!--begin::Aside-->
  <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
    [ngStyle]="{'background-color': '#f1f1f1'}"
  >
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center py-15 px-5 px-md-15 w-100">
      <!--begin::Logo-->
      <a routerLink="/" class="mb-12">
        <img alt="Logo" src="../../../assets/media/misc/auth-screens.png" loading="lazy" class="h-250px" />
      </a>
      <!--end::Logo-->


      <!--begin::Title-->
      <h1 class="text-primary fs-2qx fw-bolder text-center mb-7">
        Frohavs
      </h1>
      <!--end::Title-->

      <!--begin::Text-->
      <div class="text-primary fs-base text-center">
        Lorem ipsum dolor sit amet consectetur, <a class="opacity-75-hover text-warning fw-bold me-1">adipisicing</a> elit. Minima ut totam veniam fugiat suscipit et blanditiis,
        itaque eius, deserunt, voluptatibus nesciunt ipsa adipisci? Repellendus, quia rerum? Totam, alias. Dolores,
        soluta?
      </div>
      <!--end::Text-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>
