<div class="d-flex flex-column flex-lg-row flex-column-fluid">
  <!--begin::Body-->
  <div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
    <!--begin::Form-->
    <div class="d-flex flex-center flex-column flex-lg-row-fluid">
      <!--begin::Wrapper-->
      <div class="auth-form-wrapper p-10">
        <router-outlet></router-outlet>
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Form-->
  </div>
  <!--end::Body-->

  <!--begin::Aside-->
  <div class="d-flex flex-lg-row-fluid w-lg-50 order-1 order-lg-2 froha-branding-bg">
    <!--begin::Content-->
    <div class="d-flex flex-column flex-center py-15 px-5 px-md-15 w-100 text-center">
      <a routerLink="/" class="mb-8">
        <img alt="FROHA" src="assets/media/logos/froha_logo.png" loading="lazy" class="froha-branding-logo" />
      </a>

      <h1 class="text-white fs-2qx fw-bolder mb-4">FROHA</h1>
      <div class="text-white opacity-75 fs-5">Project Management Information System</div>
    </div>
    <!--end::Content-->
  </div>
  <!--end::Aside-->
</div>
