<!-- <ul class="nav nav-tabs">
  <li class="nav-item" (click)="setActiveTab(0)">
    <a [ngClass]="{'nav-link': true, 'active': activeTab === 0}"> Projects Agency</a>
  </li>
  <li class="nav-item" (click)="setActiveTab(1)">
    <a [ngClass]="{'nav-link': true, 'active': activeTab === 1}"> Agency of operation & maintenance</a>
  </li>
</ul> -->
<div class="card mb-5 mb-xl-8">
  <div class="card-header border-0 pt-2">
    <div>
      <div class="row mb-6">
        <label class="col-lg-12 col-form-label required fw-bold fs-6">Etimad Number</label>
        <div class="col-lg-8 fv-row">
          <input type="text" class="form-control form-control-lg form-control-solid" (keypress)="numbersOnly($event)"
            [(ngModel)]="etimadNumber" />
        </div>
        <div class="col-lg-4">
          <button class="btn btn-light-primary font-weight-bolder font-size-sm cursor-pointer"
            (click)="navigateExpenditure()" [disabled]="!etimadNumber">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- total -->
  <div class="col-xl-4 mx-5">
    <app-stats-widget5 imgIcon="../../../../assets/media/icons/staff.png"
      class="card bg-primary hoverable card-xl-stretch mb-xl-8" color="primary" iconColor="white"
      title="Total Spent Value" [description]="invoiceStatistics?.totalSpentValue"></app-stats-widget5>
  </div>
</div>

<div class="row g-5 g-xl-8">

  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-warning card-xl-stretch mb-xl-8" color="warning" title="SAR"
      description="OnProgress" [progress]="invoiceStatistics?.onProgress">
    </app-stats-widget6>
  </div>
  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-success card-xl-stretch mb-xl-8" color="success" title="SAR"
      description="Approved" [progress]="invoiceStatistics?.approved"></app-stats-widget6>
  </div>
  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-primary card-xl-stretch mb-xl-8" color="primary" title="SAR"
      description="Completed" [progress]="invoiceStatistics?.completed">
    </app-stats-widget6>
  </div>


  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-danger card-xl-stretch mb-xl-8" color="danger" title="SAR"
      description="Canceled" [progress]="invoiceStatistics?.cancelled">
    </app-stats-widget6>
  </div>

</div>


<div class="card mb-5 mb-xl-8">

  <div class="card-header border-0 pt-5">

    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12">
      </div>
      <!--end::Search-->
    </div>

  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="max-w-100px">Etimad Number</th>
            <th class="max-w-100px">MOF Number</th>
            <th class="max-w-100px">Type</th>
            <th class="max-w-100px">Submit Date</th>
            <th class="max-w-100px">Invoice Value</th>
            <th class="max-w-100px">Status</th>
            <th class="max-w-100px">Invoice Start Date</th>
            <th class="max-w-100px">Invoice Finish Date</th>
            <th class="max-w-100px text-center">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let invoice of dataList; index as i">
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{etimadNumber}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.mofNumber}}
              </a>
            </td>

            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.type}}
              </a>
            </td>

            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.etimadSubmitDate | date}}

              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.value | number}}

              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.status}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                --

              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                --

              </a>
            </td>
            <td>
              <div class="d-flex justify-content-center align-items-center flex-shrink-0">
                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                  (click)="navigateInvoiceDetails(invoice.id)">
                  <app-keenicon name="eye" class="fs-3"></app-keenicon>
                </a>
                <span class="badge badge-light-primary fs-6 fw-bold my-2 p-3 cursor-pointer mx-2"
                  (click)="invoiceExchangeData(invoice.id)">
                  Invoice Details
                </span>
              </div>
            </td>
          </tr>

          <tr *ngIf="!dataList?.length">
            <td colspan="12" class="text-center fs-2 text-primary">
              no items retrieved yet
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-stack flex-wrap pt-10">
        <div class="fs-6 fw-bold text-gray-700">Showing {{totalCount}} to 10 of {{totalCount}} entries</div>

        <ul class="pagination">
          <li class="page-item previous" (click)="navigateArrows(false)">
            <a class="page-link cursor-pointer">
              <i class="previous"></i>
            </a>
          </li>

          <li class="page-item" [ngClass]="{'active': selected === i+1}" (click)="navigatePage(i+1)"
            *ngFor="let page of pagesCount; index as i">
            <a class="page-link cursor-pointer"> {{i+1}} </a>
          </li>

          <li class="page-item next" (click)="navigateArrows(true)">
            <a class="page-link cursor-pointer">
              <i class="next"></i>
            </a>
          </li>
        </ul>
        <!-- end::Table pagination -->
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<ng-template #exchangeDataModal let-modal>
  <form [formGroup]="exchangeForm" (ngSubmit)="onSubmitDetails()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Invoice Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <div class="row mb-2">
        <label class="fw-semibold fs-6 mb-2">Work done Value:</label>

        <input type="text" class="form-control form-control-lg form-control-solid text-start"
          [currencyMask]="{ prefix: 'SAR ', thousands: ',', precision: 0, align: 'left' }"
          placeholder="{{'PROJECTS.project_value' | translate}}" name="workDoneValue" formControlName="workDoneValue"
          min="0" />
      </div>

      <h4 class="my-4">Deduction from operation and Apartner</h4>

      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Guarantee Deduction</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="guaranteeDeduction"
            formControlName="guaranteeDeduction" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Delay Penalties</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="delayPenalties"
            formControlName="delayPenalties" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Supervision Fees</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="supervisionFees"
            formControlName="supervisionFees" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">HSSE Penalties</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="hssePenalties"
            formControlName="hssePenalties" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Material Shortage Penalties</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="materialShortagePenalties"
            formControlName="materialShortagePenalties" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Equipments Shortage Penalties</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="equipmentsShortagePenalties"
            formControlName="equipmentsShortagePenalties" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Others</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="others" formControlName="others" />
        </div>
      </div>
      <!-- separate -->
      <div class="row mb-2">
        <label class="fw-semibold fs-6 mb-2">Total Deduction Value:</label>
        <input type="text" class="form-control form-control-solid" name="deductionFromOperationAndPartner"
          formControlName="deductionFromOperationAndPartner" />
      </div>

      <h4 class="my-4">NOT Deducted from operation and Apartner </h4>

      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Advanced payment return</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="advancedPaymentReturn"
            formControlName="advancedPaymentReturn" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Final invoice deduction</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="finalInvoiceDeduction"
            formControlName="finalInvoiceDeduction" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-xl-5">
          <label class="fw-semibold fs-6 mb-2">Supervision Fees</label>
        </div>
        <div class="col-xl-7">
          <input class="form-control form-control-solid col-xl-6" name="supervisionFees1"
            formControlName="supervisionFees1" />
        </div>
      </div>

      <!-- separate -->
      <div class="row mb-2">
        <label class="fw-semibold fs-6 mb-2">Total deduction value:</label>
        <input type="text" class="form-control form-control-solid" name="notDeductionFromOperationAndPartner"
          formControlName="notDeductionFromOperationAndPartner" />
      </div>

      <!-- separate -->
      <div class="row mb-2">
        <label class="fw-semibold fs-6 mb-2">Net value without VAT:</label>
        <input type="text" class="form-control form-control-solid" name="netValueWithoutVAT"
          formControlName="netValueWithoutVAT" />
      </div>

      <!-- separate -->
      <div class="row mb-2">
        <label class="fw-semibold fs-6 mb-2">VAT Value:</label>
        <input type="text" class="form-control form-control-solid" name="vatValue" formControlName="vatValue" />
      </div>
      <!-- separate -->
      <div class="row mb-2">
        <label class="fw-semibold fs-6 mb-2">Total with VAT:</label>
        <input type="text" class="form-control form-control-solid" name="totalWithVAT" formControlName="totalWithVAT" />
      </div>
      <!-- separate -->
      <div class="row mb-2">
        <label class="fw-semibold fs-6 mb-2">Total value with deduction:</label>
        <input type="text" class="form-control form-control-solid" name="totalValue" formControlName="totalValue" />
      </div>

      <div class="m-3 d-flex align-items-center justify-content-between">
        <span class="fw-semibold fs-6">Invoice Value: {{'-----'}}</span>
      </div>


    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-light-success"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
