<ul class="nav nav-tabs">
  <li class="nav-item" (click)="setActiveTab(0)">
    <a [ngClass]="{'nav-link': true, 'active': activeTab === 0}"> Projects Agency</a>
  </li>
  <li class="nav-item" (click)="setActiveTab(1)">
    <a [ngClass]="{'nav-link': true, 'active': activeTab === 1}"> Agency of operation & maintenance</a>
  </li>
</ul>
<div class="card mb-5 mb-xl-8">
  <div class="card-header border-0 pt-2">
    <div>
      <div class="row mb-6">
        <label class="col-lg-12 col-form-label required fw-bold fs-6">Etimad Number</label>
        <div class="col-lg-8 fv-row">
          <input type="text" class="form-control form-control-lg form-control-solid" (keypress)="numbersOnly($event)"
            [(ngModel)]="etimadNumber" />
        </div>
        <div class="col-lg-4">
          <button class="btn btn-light-primary font-weight-bolder font-size-sm cursor-pointer"
            (click)="navigateExpenditure()" [disabled]="!etimadNumber">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- total -->
  <div class="col-xl-4 mx-5">
    <app-stats-widget5 imgIcon="../../../../assets/media/icons/staff.png"
      class="card bg-primary hoverable card-xl-stretch mb-xl-8" color="primary" iconColor="white"
      title="Total Spent Value" description="0.00"></app-stats-widget5>
  </div>
</div>

<div class="row g-5 g-xl-8">

  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-warning card-xl-stretch mb-xl-8" color="warning"
      title="{{'PROJECTS.TITLE' | translate}}" description="OnProgress" progress="20%">
    </app-stats-widget6>
  </div>
  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-success card-xl-stretch mb-xl-8" color="success"
      title="{{'PROJECTS.TITLE' | translate}}" description="Approved" [progress]="'40%'"></app-stats-widget6>
  </div>
  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-primary card-xl-stretch mb-xl-8" color="primary"
      title="{{'PROJECTS.TITLE' | translate}}" description="Completed" progress="30%">
    </app-stats-widget6>
  </div>


  <div class="col-xl-3">
    <app-stats-widget6 class="card bg-light-danger card-xl-stretch mb-xl-8" color="danger"
      title="{{'PROJECTS.TITLE' | translate}}" description="Canceled" progress="10%">
    </app-stats-widget6>
  </div>

</div>


<div class="card mb-5 mb-xl-8">

  <div class="card-header border-0 pt-5">

    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12">
      </div>
      <!--end::Search-->
    </div>

  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="max-w-100px">Etimad Number</th>
            <th class="max-w-100px">MOF Number</th>
            <th class="max-w-100px">Type</th>
            <th class="max-w-100px">Submit Date</th>
            <th class="max-w-100px">Invoice Value</th>
            <th class="max-w-100px">Status</th>
            <th class="max-w-100px">Invoice Start Date</th>
            <th class="max-w-100px">Invoice Finish Date</th>
            <th class="max-w-100px text-center">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let invoice of dataList; index as i">
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{etimadNumber}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.mofNumber}}
              </a>
            </td>

            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.type}}
              </a>
            </td>

            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.etimadSubmitDate | date}}

              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.value}}

              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{invoice?.status}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                --

              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                --

              </a>
            </td>
            <td>
              <div class="d-flex justify-content-center flex-shrink-0">
                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                  (click)="navigateInvoiceDetails(invoice.id)">
                  <app-keenicon name="eye" class="fs-3"></app-keenicon>
                </a>
              </div>
            </td>
          </tr>

          <tr *ngIf="!dataList?.length">
            <td colspan="12" class="text-center fs-2 text-primary">
              no items retrieved yet
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-stack flex-wrap pt-10">
        <div class="fs-6 fw-bold text-gray-700">Showing {{totalCount}} to 10 of {{totalCount}} entries</div>

        <ul class="pagination">
          <li class="page-item previous" (click)="navigateArrows(false)">
            <a class="page-link cursor-pointer">
              <i class="previous"></i>
            </a>
          </li>

          <li class="page-item" [ngClass]="{'active': selected === i+1}" (click)="navigatePage(i+1)"
            *ngFor="let page of pagesCount; index as i">
            <a class="page-link cursor-pointer"> {{i+1}} </a>
          </li>

          <li class="page-item next" (click)="navigateArrows(true)">
            <a class="page-link cursor-pointer">
              <i class="next"></i>
            </a>
          </li>
        </ul>
        <!-- end::Table pagination -->
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
