<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">{{"BOQ.Add_Boq" | translate}}</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
        </div>
      </div>


      <div class="card-body pt-3">

        <form [formGroup]="addBoqForm" class="form">
          <div class="card-body border-top p-9">


            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    {{"BOQ.project" | translate}}
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="projectId"
                    formControlName="projectId">
                    <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let project of projects">
                      <option [value]="project?.id">{{project?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addBoqForm?.get('projectId')?.invalid && (addBoqForm?.get('projectId')?.dirty || addBoqForm?.get('projectId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">vat is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    {{"BOQ.item_no" | translate}}
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="itemNo"
                    formControlName="itemNo" placeholder="{{'BOQ.item_no' | translate}}" />
                  <div
                    *ngIf="addBoqForm?.get('itemNo')?.invalid && (addBoqForm?.get('itemNo')?.dirty || addBoqForm?.get('itemNo')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">No is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    {{"BOQ.item_title" | translate}}
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="title"
                    formControlName="title" placeholder="{{'BOQ.item_title' | translate}}" />
                  <div
                    *ngIf="addBoqForm?.get('title')?.invalid && (addBoqForm?.get('title')?.dirty || addBoqForm?.get('title')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">Title is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    {{"BOQ.item_desc" | translate}}
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <textarea class="form-control form-control-lg form-control-solid text-start" name="description"
                    formControlName="description" rows="4" placeholder="{{'BOQ.item_desc' | translate}}"></textarea>
                  <div
                    *ngIf="addBoqForm?.get('description')?.invalid && (addBoqForm?.get('description')?.dirty || addBoqForm?.get('description')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">description name is required</div>
                  </div>
                </div>
              </div>

              <div class="col-xl-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6"><span
                    class="required">{{"BOQ.unit" | translate}}</span></label>
                <div class="col-lg-10 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="unitId"
                    formControlName="unitId">
                    <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let unit of units">
                      <option [value]="unit?.id">{{unit?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addBoqForm?.get('unitId')?.invalid && (addBoqForm?.get('unitId')?.dirty || addBoqForm?.get('unitId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">unit is required</div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row mb-1">
              <div class="col-xl-6">
                <label class="col-lg-4 col-form-label fw-bold fs-6"><span
                    class="required">{{"BOQ.vat" | translate}}</span></label>
                <div class="col-lg-10 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="vatId"
                    formControlName="vatId">
                    <option value="" disabled selected>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let vat of vats">
                      <option [value]="vat?.name">{{vat?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addBoqForm?.get('vatId')?.invalid && (addBoqForm?.get('vatId')?.dirty || addBoqForm?.get('vatId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">vat is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    {{"BOQ.quantity" | translate}}
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="number" class="form-control form-control-lg form-control-solid text-start"
                    name="quantity" formControlName="quantity" placeholder="{{'BOQ.quantity' | translate}}" />
                  <div
                    *ngIf="addBoqForm?.get('quantity')?.invalid && (addBoqForm?.get('quantity')?.dirty || addBoqForm?.get('quantity')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">quantity is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    {{"BOQ.unit_price" | translate}}
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="number" class="form-control form-control-lg form-control-solid text-start"
                    name="unitPrice" formControlName="unitPrice" placeholder="{{'BOQ.unit_price' | translate}}" />
                  <div
                    *ngIf="addBoqForm?.get('unitPrice')?.invalid && (addBoqForm?.get('unitPrice')?.dirty || addBoqForm?.get('unitPrice')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">unit price is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    {{"BOQ.total_price" | translate}}
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="number" class="form-control form-control-lg form-control-solid text-start"
                    name="totalPrice" formControlName="totalPrice" placeholder="{{'BOQ.total_price' | translate}}" />
                  <div
                    *ngIf="addBoqForm?.get('totalPrice')?.invalid && (addBoqForm?.get('totalPrice')?.dirty || addBoqForm?.get('totalPrice')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">total price is required</div>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.ADD" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

 <!-- modal -->
 <swal #noticeSwal [swalOptions]="swalOptions">
</swal>
