<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->

  <div class="card-header border-0 pt-5">

    <!--begin::Card title-->
    <div class="card-title">
      <div class="row">
        <div class="col-lg-12 fv-row">
          <input type="file" #fileInput (change)="uploadTemplate($event)"
            class="form-control form-control-lg form-control-solid text-start my-2"
            accept=".csv, .xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
      </div>

      <a class="btn btn-sm btn-light-info mx-2" (click)="uploadSCurve()">
        Upload
      </a>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->
    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
      title="Click to add a user">
      <a class="btn btn-sm btn-light-success mx-2" (click)="downloadTemplate()">
        Download
      </a>
      <a class="btn btn-sm " (click)="approveSCurve(dataList?.approval)" [ngClass]="{
        'btn-info': dataList?.approval === 2,
        'btn-danger': dataList?.approval === 3,
        'btn-light-warning': dataList?.approval !== 2 && dataList?.approval !== 3,
    }">
        {{!dataList?.approval ? 'Consultant approve' : dataList?.approval === 1 ? 'Manager Approved' : dataList?.approval === 2 ? 'Approved' : 'Rejected'}}
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="max-w-100px">Sl No.</th>
            <th class="max-w-100px">Month</th>
            <th class="max-w-100px">Year</th>
            <th class="max-w-100px">Actual Labour</th>
            <th class="max-w-100px">Actual Equipment</th>
            <th class="max-w-100px">Cumulative Labour</th>
            <th class="max-w-100px">Cumulative Equipment</th>
            <th class="min-w-100px">Planned Labour</th>
            <th class="min-w-100px">Planned Equipment</th>
            <th class="max-w-100px">Cumulative Labour Planned</th>
            <th class="max-w-100px">Cumulative Equipment Planned</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let plan of dataList?.items; index as i">

            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.id}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.month}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.year}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.actualLabour}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.actualEquipment}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.cumulativeActualLabour}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.cumulativeActualEquipment}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.plannedLabour}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.plannedEquipment}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.cumulativePlannedLabour}}
              </a>
            </td>
            <td>
              <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                {{plan.cumulativePlannedEquipment}}
              </a>
            </td>

          </tr>
          <tr *ngIf="!dataList?.items?.length">
            <td colspan="8" class="text-center fs-2 text-primary">
              no items retrieved yet
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>


<ng-template #approveModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Role Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <div class="fv-row mb-7">
        <div class="col-lg-8 d-flex align-items-center">
          <div class="form-check form-check-solid form-switch d-flex align-items-center">
            <input class="form-check-input w-45px h-30px me-2" type="checkbox" name="durationDays"
              [(ngModel)]="approveModelData.accepted" />
            <label class="form-check-label">{{approveModelData.accepted ? 'approve' : 'reject'}}</label>
          </div>
        </div>
      </div>

      <div class="fv-row mb-7">
        <label class="fw-semibold fs-6 mb-2">Reason</label>
        <textarea class="form-control form-control-solid" name="eotReason" [(ngModel)]="approveModelData.note"
          rows="3"></textarea>
      </div>

    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
