<div class="d-flex">
  <div class="logo_container">
    <img
      [ngClass]="{ custom_ar: currentLang == 'ar' }"
      src="../../../../assets/images/test.svg"
      alt="logo_img"
    />
  </div>
  <div class="login_container">
    <div class="login_wrapper">
      <div class="form_wrapper">
        <!-- <img src="../../../assets/images/logo_ar.svg" alt="logo" class="logo"> -->
        <span class="sign_in">{{ "reset_password" | translate }}</span>
        <form [formGroup]="forgetPassForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label *ngIf="forgetPassForm.get('username')?.value">{{
              "username" | translate
            }}</label>

            <input
              type="email"
              class="form-control"
              aria-describedby="usernameHint"
              formControlName="username"
              [placeholder]="'username' | translate"
            />
            <div
              class="errors"
              *ngIf="!username?.valid && (username?.dirty || username?.touched)"
            >
              <small
                class="form-text text-muted"
                [hidden]="!username?.errors?.['required']"
              >
                {{ "email" | translate }}
              </small>
              <!-- <small class="form-text text-muted" [hidden]="!address?.errors?.['minlength']">
                        min length is 10
                    </small> -->
            </div>
          </div>
          <button type="submit" class="btn" [disabled]="!forgetPassForm.valid">
            {{ "send" | translate }}
          </button>
          <div class="change_lang">
            <a class="mt-4" (click)="navigateLogin()">{{
              "back_to_login" | translate
            }}</a
            ><br />
            <a (click)="changeCurrentLang('ar')" *ngIf="currentLang === 'en'"
              >عربي</a
            >
            <a (click)="changeCurrentLang('en')" *ngIf="currentLang === 'ar'"
              >English</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
