<div class="print-container">

  <h2 class="title">قائمة التحقق للمخرجات</h2>
  <h3 class="subtitle">Deliverable Checklist</h3>

  <!-- Project Info Table -->
  <table class="project-info">
    <thead>
      <tr>
        <th colspan="3">
          <strong>قائمة تدقيق ومراجعة مخرجات البوابات المرحلية</strong>
          <br>
          <strong>البوابات المرحلية</strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="colored"><strong>اسم المشروع :</strong></td>
        <td>{{printDetails?.projectName}}</td>
        <td class="colored"><strong>Project Name:</strong></td>
      </tr>
      <tr>
        <td class="colored"><strong>رقم المشروع من اعتماد:</strong></td>
        <td>{{printDetails?.etimadNumber}}</td>
        <td class="colored"><strong>Etimad Project:</strong></td>
      </tr>
      <tr>
        <td class="colored"><strong>رقم العقد:</strong></td>
        <td>{{printDetails?.contractNo}}</td>
        <td class="colored"><strong>Contract no.:</strong></td>
      </tr>
      <tr>
        <td class="colored"><strong>المرحلة الحالية:</strong></td>
        <td>{{printDetails?.status}}</td>
        <td class="colored"><strong>Current Stage:</strong></td>
      </tr>
      <tr>
        <td class="colored"><strong>إصدار المراجعة:</strong></td>
        <td></td>
        <td class="colored"><strong>Revision:</strong></td>
      </tr>
      <tr>
        <td class="colored"><strong>تاريخ التعديل:</strong></td>
        <td></td>
        <td class="colored"><strong>Date Revised:</strong></td>
      </tr>
    </tbody>
  </table>

  <!-- Deliverables Table -->
  <table class="deliverables-table">
    <thead>
      <tr>
        <th>#</th>
        <th>وصف مخرجات المرحلة<br>Stage Deliverable Description</th>
        <th>الإدارة المسؤولة<br>Department</th>
        <th>مطلوبة؟ نعم/ لا<br>Required? Yes/No</th>
        <th>الملاحظات (إذا لم تكن مطلوبة برجاء التبرير)<br>Comments (If Not Required Justify)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of printDetails?.deliverableChecklists; index as i">
        <td>{{i+1}}</td>
        <td>{{item?.initialDeliverableName}}</td>
        <td>----</td>
        <td>{{item?.required ? 'yes' : 'no'}}</td>
        <td>{{item?.comments}}</td>

      </tr>
    </tbody>
  </table>

  <!-- Signature Approval Block -->

  <table class="signature-approval">
    <thead>
      <tr>
        <th colspan="1">
          <strong>مجموعة اعتماد التوقيع</strong>
          <br>
          <strong>Signature Approval Block</strong>
        </th>
        <th colspan="4">
          <strong>قائمة تدقيق ومراجعة اعتماد مخرجات البوابات المرحلية</strong>
          <br>
          <strong>Stage-Gate Deliverables Approval Checklist</strong>
        </th>
      </tr>
      <tr>
        <th>فريق مراجعة البوابة<br>Gate Review Team</th>
        <th>الاسم<br>Name</th>
        <th>التوقيع<br>Signature</th>
        <th>تاريخ الاعتماد<br>Date Approved</th>
        <th>ملاحظات<br>Comments</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of printDetails?.committeeMembers; let i = index">
        <td>Gate Committee Member #{{i+1}} Approval</td>
        <td>{{item?.name}}</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
      </tr>

      <tr>
        <td>موافقة مدير المشروع<br>Project Manager Approval</td>
        <td>نايف قناديلي</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
      </tr>

    </tbody>
  </table>

  <!-- Gate Completion Approved -->
  <table class="gate-completion">
    <thead>
      <tr>
        <th colspan="4">
          <strong>الاعتماد لقائمة مخرجات البوابة المرحلية</strong>
          <br>
          <strong>Gate Completion Approved</strong>
        </th>
      </tr>
      <tr>
        <th>اسم أمين البوابة<br>Gate Keeper Name</th>
        <th>التوقيع<br>Signature</th>
        <th>تاريخ الاعتماد<br>Date Approved</th>
        <th>ملاحظات النهائية<br>Final Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
      </tr>
    </tbody>
  </table>
</div>
