<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>التاريخ<br />Date</th>
        <th>اقسام كراسة الشروط والمواصفات<br />RFP Sections</th>
        <th>القسم<br />Department/Section</th>
        <th>إعداد<br />Author</th>
        <th>تحقق<br />Checker</th>
        <th>مراجعة<br />Reviewer</th>
        <th>إعتماد<br />Approver</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08-09-2024</td>
        <td>Eslam</td>
        <td>kkkkkkkkkkkkkkkk</td>
        <td>
          <div class="signature">
            <span style="text-decoration: underline" class="text-primary cursor-pointer"
            (click)="signAuthor()">Signature</span><br />
            <span>Vanessa Cánovas</span><br />
            <span>Author has not signed yet</span>
          </div>
        </td>
        <td>
          <div class="signature">
            <span>Vanessa Cánovas</span><br />
            <span>Waiting for all checkers to sign</span>
          </div>
        </td>
        <td>
          <div class="signature">
            <span>Vanessa Cánovas</span><br />
            <span>Waiting for all reviewers to sign</span>
          </div>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
