<div class="w-100">
  <h2 class="title text-primary mx-auto text-center mb-5">{{rfpDetails?.name}}</h2>
</div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>التاريخ<br />Date</th>
        <th>اقسام كراسة الشروط والمواصفات<br />RFP Sections</th>
        <th>القسم<br />Department/Section</th>
        <th>إعداد<br />Author</th>
        <th>تحقق<br />Checker</th>
        <th>مراجعة<br />Reviewer</th>
        <th>إعتماد<br />Approver</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of signatureSubCategories; let i=index">
        <td>{{item?.createdOn | date: 'dd-MM-yyyy'}}</td>
        <td>{{item?.categoryName}}</td>
        <td>{{item?.name}}</td>
        <td>
          <div class="signature">
            <span class="sign text-primary" *ngIf="!item?.authorSignature"
              (click)="signAuthor(item)">Signature</span><br />
              <img src="../../../../assets/media/icons/signature.svg" alt="sign" *ngIf="item?.authorSignature">
            <span>{{item?.author}}</span><br />
          </div>
        </td>
        <td>
          <div class="signature">
            <span class="sign text-primary" *ngIf="item?.authorSignature && !item?.checkerSignature"
              (click)="signChecker(item)">Signature</span><br />
            <span *ngIf="!item?.authorSignature">Author has not signed yet</span>
            <img src="../../../../assets/media/icons/signature.svg" alt="sign" *ngIf="item?.checkerSignature">

            <span>{{item?.checker}}</span><br />
          </div>
        </td>
        <td>
          <div class="signature">
            <span class="sign text-primary" *ngIf="item?.checkerSignature && !item?.reviewerSignature"
              (click)="signReviewer(item)">Signature</span><br />
            <span *ngIf="!item?.checkerSignature">Waiting for all checkers to sign </span><br />
            <img src="../../../../assets/media/icons/signature.svg" alt="sign" *ngIf="item?.reviewerSignature">
            <span>{{item?.reviewer}}</span><br />
          </div>

        </td>
        <td>
          <div class="signature">
            <span class="sign text-primary" *ngIf="item?.reviewerSignature && !item?.approverSignature"
              (click)="signApprover(item)">Signature</span><br />
            <span *ngIf="!item?.reviewerSignature">Waiting for all checkers to sign </span><br />
            <img src="../../../../assets/media/icons/signature.svg" alt="sign" *ngIf="item?.approverSignature">
            <span>{{item?.approver}}</span><br />
          </div>
        </td>
      </tr>


    </tbody>
  </table>
</div>


<!-- <app-signature-pad></app-signature-pad> -->
