<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_update_staff"
    aria-expanded="true" aria-controls="kt_update_staff">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Update Project Staff</h3>
    </div>
    <div class="card-toolbar">
      <a (click)="back()" class="btn btn-sm btn-danger d-flex">
        <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
        {{"ECOMMERCE.COMMON.BACK" | translate}}
      </a>
    </div>
  </div>
  <div id="kt_update_staff" class="collapse show">
    <form [formGroup]="UpdateStaffForm" class="form">
      <div class="card-body border-top p-9">

        <div class="row mb-6">
          <label
            class="col-lg-4 col-form-label fw-bold fs-6"><span>{{"PROJECTS.amana_manager" | translate}}</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="amana_manager"
              formControlName="amana_manager">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <option [value]="'test'">admin</option>
              <option [value]="'test'">employee</option>
              <!-- <ng-container *ngFor="let company of companies">
              </ng-container> -->
            </select>
            <!-- <div
              *ngIf="UpdateStaffForm?.get('amana_manager')?.invalid && (UpdateStaffForm?.get('amana_manager')?.dirty || UpdateStaffForm?.get('amana_manager')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">stage is required</div>
            </div> -->
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Project Consultant Manager</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="project_consultant_manager"
              formControlName="project_consultant_manager">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <option [value]="'test'">Study and Design</option>
              <option [value]="'test'">Supervisor</option>
              <option [value]="'test'">Excuse</option>
              <option [value]="'test'">Consultant service</option>
              <!-- <ng-container *ngFor="let company of companies">
              </ng-container> -->
            </select>
            <!-- <div
              *ngIf="UpdateStaffForm?.get('project_consultant_manager')?.invalid && (UpdateStaffForm?.get('project_consultant_manager')?.dirty || UpdateStaffForm?.get('project_consultant_manager')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">classification is required</div>
            </div> -->
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Project Contractor Manager</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="project_contractor_manager"
              formControlName="project_contractor_manager">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <!-- <ng-container *ngFor="let company of companies">
              </ng-container> -->
            </select>
            <!-- <div
              *ngIf="UpdateStaffForm?.get('project_contractor_manager')?.invalid && (UpdateStaffForm?.get('project_contractor_manager')?.dirty || UpdateStaffForm?.get('project_contractor_manager')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">sector is required</div>
            </div> -->
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Project Contractor Manager</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="project_consultant_data_entry"
              formControlName="project_consultant_data_entry">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <!-- <ng-container *ngFor="let company of companies">
              </ng-container> -->
            </select>
            <div
              *ngIf="UpdateStaffForm?.get('project_consultant_data_entry')?.invalid && (UpdateStaffForm?.get('project_consultant_data_entry')?.dirty || UpdateStaffForm?.get('project_consultant_data_entry')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">sector is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Project Consultant Data Entry</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="project_contractor_data_entry"
              formControlName="project_contractor_data_entry">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <!-- <ng-container *ngFor="let company of companies">
              </ng-container> -->
            </select>
            <div
              *ngIf="UpdateStaffForm?.get('project_contractor_data_entry')?.invalid && (UpdateStaffForm?.get('project_contractor_data_entry')?.dirty || UpdateStaffForm?.get('project_contractor_data_entry')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">sector is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Project Consultant HSE</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="project_consultant_hse"
              formControlName="project_consultant_hse">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <!-- <ng-container *ngFor="let company of companies">
              </ng-container> -->
            </select>
            <div
              *ngIf="UpdateStaffForm?.get('project_consultant_hse')?.invalid && (UpdateStaffForm?.get('project_consultant_hse')?.dirty || UpdateStaffForm?.get('project_consultant_hse')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">sector is required</div>
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"><span>Project Contractor HSE</span></label>
          <div class="col-lg-8 fv-row">
            <select class="form-select form-select-solid form-select-lg fw-bold" name="project_contractor_hse"
              formControlName="project_contractor_hse">
              <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
              <!-- <ng-container *ngFor="let company of companies">
              </ng-container> -->
            </select>
            <!-- <div
              *ngIf="UpdateStaffForm?.get('project_contractor_hse')?.invalid && (UpdateStaffForm?.get('project_contractor_hse')?.dirty || UpdateStaffForm?.get('project_contractor_hse')?.touched)"
              class="fv-plugins-message-container">
              <div class="fv-help-block">sector is required</div>
            </div> -->
          </div>
        </div>

      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveProject()">
          <ng-container *ngIf="!isLoading">{{"TRANSLATOR.SAVE_CHANGES" | translate}}</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
