<!--begin::Logo image-->
<a routerLink="/dashboard" class="sidebar-logo-link">
  <div class="d-flex align-items-center justify-content-center logo-wrap">
    <img alt="FROHA Logo" src="./assets/media/logos/froha_wordmark_gray.svg" class="app-sidebar-logo-default sidebar-logo-main" />
  </div>
  <img alt="FROHA Logo" src="./assets/media/logos/froha_mark_gray.svg" class="app-sidebar-logo-minimize sidebar-logo-mini" />
</a>
<!--end::Logo image-->


<ng-container *ngIf="toggleEnabled">
  <!--begin::Sidebar toggle-->
  <div id="kt_app_sidebar_toggle"
    class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate"
    [ngClass]="toggleButtonClass" data-kt-toggle="true" [attr.data-kt-toggle-state]="toggleState"
    data-kt-toggle-target="body" [attr.data-kt-toggle-name]="toggleAttr">
    <app-keenicon name="double-left" class="fs-2 rotate-180"></app-keenicon>
  </div>
  <!--end::Sidebar toggle-->
</ng-container>
