<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->

  <div class="card-header border-0 pt-5">

    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12"
          [placeholder]="Search_text">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->
    <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
      title="Click to add a user">
      <a class="btn btn-sm btn-light-primary" (click)="redirectToNew()">
        <app-keenicon name="plus" class="fs-3"></app-keenicon>
        New User
      </a>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted">
            <th class="w-25px">
              <div class="
                form-check form-check-sm form-check-custom form-check-solid
              ">
                <input class="form-check-input" type="checkbox" value="1" data-kt-check="true"
                  data-kt-check-target=".widget-9-check" (change)="checkAll($event)" />
              </div>
            </th>
            <th class="min-w-150px">Authors</th>
            <th class="min-w-140px">Company</th>
            <th class="min-w-150px">Rating</th>
            <th class="min-w-100px text-end">Actions</th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let user of dataList; index as i">
            <td>
              <div class="form-check form-check-sm form-check-custom form-check-solid">
                <input class="form-check-input widget-9-check" type="checkbox" [value]="user?.id"
                  [checked]="user?.checked" (change)="checkUser($event, user?.id)" />
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="symbol symbol-45px me-5">
                  <img src="./assets/media/icons/user-icon-2400.png" alt="img" />
                </div>
                <div class="d-flex justify-content-start flex-column">
                  <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                    {{user?.userName}}
                  </a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">
                    {{user?.email}}
                  </span>
                </div>
              </div>
            </td>
            <td>
              <a href="#" class="text-gray-900 fw-bolder text-hover-primary d-block fs-6">
                {{user?.companyName || '--'}}
              </a>
              <span class="text-muted fw-bold text-muted d-block fs-7">
                {{user?.roles[0] || '--'}}
              </span>
            </td>
            <td>
              <div class="rating">
                <div class="rating-label me-2 checked">
                  <i class="bi bi-star-fill fs-5"></i>
                </div>
                <div class="rating-label me-2 checked">
                  <i class="bi bi-star-fill fs-5"></i>
                </div>
                <div class="rating-label me-2 checked">
                  <i class="bi bi-star-fill fs-5"></i>
                </div>
                <div class="rating-label me-2 checked">
                  <i class="bi bi-star-fill fs-5"></i>
                </div>
                <div class="rating-label me-2">
                  <i class="bi bi-star-fill fs-5"></i>
                </div>
              </div>
              <span class="text-muted fw-bold text-muted d-block fs-7 mt-1">
                Above Average
              </span>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0" *ngIf="checkAdmin(user.userName)">
                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                  (click)="openPermissionModal(user)">
                  <app-keenicon name="switch" class="fs-3"></app-keenicon>
                </a>
                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" (click)="editUser(user)">
                  <app-keenicon name="pencil" class="fs-3"></app-keenicon>
                </a>
                <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="deleteUser(user)">
                  <app-keenicon name="trash" class="fs-3"></app-keenicon>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-stack flex-wrap pt-10">
        <div class="fs-6 fw-bold text-gray-700">Showing {{totalCount}} to 10 of {{totalCount}} entries</div>

        <ul class="pagination">
          <li class="page-item previous">
            <a class="page-link cursor-pointer">
              <i class="previous"></i>
            </a>
          </li>

          <li class="page-item" [ngClass]="{'active': selected === i+1}" (click)="navigatePage(i+1)"
            *ngFor="let page of pagesCount; index as i">
            <a class="page-link cursor-pointer"> {{i+1}} </a>
          </li>

          <li class="page-item next">
            <a class="page-link cursor-pointer">
              <i class="next"></i>
            </a>
          </li>
        </ul>
        <!-- end::Table pagination -->
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #permissionModal let-modal>
  <form #permissionsForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Permissions</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7 mw-650px" id="kt_modal_update_customer_scroll"
        data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
        data-kt-scroll-dependencies="#kt_modal_update_customer_header"
        data-kt-scroll-wrappers="#kt_modal_update_customer_scroll" data-kt-scroll-offset="300px">

        <!--begin::User toggle-->
        <div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" role="button"
          (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed1"
          aria-controls="kt_modal_update_customer_user_info">Permission List
          <span class="ms-2 rotate-180">
            <i class="ki-duotone ki-down fs-3" [ngClass]="{ 'ki-up': !isCollapsed1 }"></i>
          </span>
        </div>
        <!--end::User toggle-->
        <!--begin::User form-->
        <div class="collapse show" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed1">
          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <ng-container *ngFor="let permission of permissionList">

              <label class="form-check form-check-custom form-check-solid align-items-start">
                <input class="form-check-input me-3" type="checkbox" [checked]="permission?.checked" name="test"
                  (change)="onCheckboxChange($event, permission)" />
                <span class="form-check-label d-flex flex-column align-items-start">
                  <span class="fw-bolder fs-5 mb-0">{{permission?.displayName}}</span>
                  <span class="text-muted fs-6">{{permission?.group}}</span>
                </span>
              </label>
              <div class="separator separator-dashed my-6"></div>
            </ng-container>

            <div class="separator separator-dashed my-6"></div>
          </div>

        </div>
        <!--end::User form-->
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>


<swal #deleteSwal [swalOptions]="swalOptions" title="Are you sure to delete?" text="This can't be undone" icon="warning"
  [showCancelButton]="true" [focusCancel]="true"
  [customClass]="{confirmButton: 'btn btn-danger', cancelButton: 'btn btn-active-light'}">
</swal>
