<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-12">
    <div class="card mb-5 mb-xl-8">
      <!-- begin::Header -->
      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">add finding</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
        <div class="card-toolbar">
          <a (click)="back()" class="btn btn-sm btn-danger d-flex">
            <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
            {{"ECOMMERCE.COMMON.BACK" | translate}}
          </a>
        </div>
      </div>


      <div class="card-body pt-3">

        <form [formGroup]="addFindingForm" class="form">
          <div class="card-body border-top p-9">
            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Street name
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start"
                    name="street" formControlName="street" />
                  <div
                    *ngIf="addFindingForm?.get('street')?.invalid && (addFindingForm?.get('street')?.dirty || addFindingForm?.get('street')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">name is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Evidences
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="file" class="form-control form-control-lg form-control-solid text-start"
                    name="evidences" formControlName="evidences" multiple
                    (change)="onFileChange($event)" />
                  <div
                    *ngIf="addFindingForm?.get('evidences')?.invalid && (addFindingForm?.get('evidences')?.dirty || addFindingForm?.get('evidences')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">file is required</div>
                  </div>
                </div>
              </div>

            </div>

            <div class="map-container">
              <span class="fw-bold fs-6 mb-3">Location – Upload site location</span><br><br>
              <google-map height="400px" width="100%" [options]="options" (mapClick)="onMapClick($event)">
                <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
              </google-map>
            </div>


            <div class="row mb-2">
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Latitude
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="latitude"
                    formControlName="latitude" />
                  <div
                    *ngIf="addFindingForm?.get('latitude')?.invalid && (addFindingForm?.get('latitude')?.dirty || addFindingForm?.get('latitude')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">latitude is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Longitude
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="text" class="form-control form-control-lg form-control-solid text-start" name="longitude"
                    formControlName="longitude" />
                  <div
                    *ngIf="addFindingForm?.get('longitude')?.invalid && (addFindingForm?.get('longitude')?.dirty || addFindingForm?.get('longitude')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">longitude is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-lg-4">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Location Remarks
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <textarea cols="3" class="form-control form-control-lg form-control-solid text-start" name="locationRemarks"
                    formControlName="locationRemarks"></textarea>
                  <div
                    *ngIf="addFindingForm?.get('locationRemarks')?.invalid && (addFindingForm?.get('locationRemarks')?.dirty || addFindingForm?.get('locationRemarks')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">location remarks is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    HSE Findings
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <textarea cols="3" class="form-control form-control-lg form-control-solid text-start" name="hseFindings"
                    formControlName="hseFindings"></textarea>
                  <div
                    *ngIf="addFindingForm?.get('hseFindings')?.invalid && (addFindingForm?.get('hseFindings')?.dirty || addFindingForm?.get('hseFindings')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">hse findings name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Finding Remarks
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <textarea cols="3" class="form-control form-control-lg form-control-solid text-start" name="findingRemarks"
                    formControlName="findingRemarks"></textarea>
                  <div
                    *ngIf="addFindingForm?.get('findingRemarks')?.invalid && (addFindingForm?.get('findingRemarks')?.dirty || addFindingForm?.get('findingRemarks')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">finding remarks is required</div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row mb-2">

              <div class="col-lg-4">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Due Date:
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <input type="date" class="form-control form-control-lg form-control-solid text-start" name="dueDate"
                    formControlName="dueDate" />
                  <div
                    *ngIf="addFindingForm?.get('dueDate')?.invalid && (addFindingForm?.get('dueDate')?.dirty || addFindingForm?.get('dueDate')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">date is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Finding Category
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="categoryId"
                    formControlName="categoryId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of findingsCategories">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addFindingForm?.get('categoryId')?.invalid && (addFindingForm?.get('categoryId')?.dirty || addFindingForm?.get('categoryId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">category is required</div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Finding Classification
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <select class="form-select form-select-solid form-select-lg fw-bold" name="classificationId"
                    formControlName="classificationId">
                    <option value="" disabled>{{"TRANSLATOR.SELECTION" | translate}}</option>
                    <ng-container *ngFor="let item of findingsClassifications">
                      <option [value]="item?.id">{{item?.name}}</option>
                    </ng-container>
                  </select>
                  <div
                    *ngIf="addFindingForm?.get('classificationId')?.invalid && (addFindingForm?.get('classificationId')?.dirty || addFindingForm?.get('classificationId')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">classification is required</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row mb-2">

              <div class="col-lg-12">
                <label class="col-lg-12 col-form-label fw-bold fs-6">
                  <span>
                    Actions required:
                  </span>
                </label>
                <div class="col-lg-12 fv-row">
                  <textarea cols="3" class="form-control form-control-lg form-control-solid text-start" name="actions"
                    formControlName="actions"></textarea>
                  <div
                    *ngIf="addFindingForm?.get('actions')?.invalid && (addFindingForm?.get('actions')?.dirty || addFindingForm?.get('actions')?.touched)"
                    class="fv-plugins-message-container">
                    <div class="fv-help-block">actions is required</div>
                  </div>
                </div>
              </div>


            </div>

          </div>
          <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveChanges()">
              <ng-container *ngIf="!isLoading">{{"TRANSLATOR.ADD" | translate}}</ng-container>
              <ng-container *ngIf="isLoading">
                <span clas="indicator-progress" [style.display]="'block'">
                  Please wait...{{ " " }}
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
            </button>
          </div>
        </form>

      </div>
      <!-- end::Body -->
    </div>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
