<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_add_mileStone" aria-expanded="true" aria-controls="kt_add_mileStone">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" *ngIf="!pathId">Add Path</h3>
      <h3 class="fw-bolder m-0" *ngIf="pathId">edit Path</h3>
    </div>
    <div class="card-toolbar">
      <a (click)="back()" class="btn btn-sm btn-danger d-flex">
        <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
        {{"ECOMMERCE.COMMON.BACK" | translate}}
      </a>
    </div>
  </div>
  <div id="kt_add_mileStone" class="collapse show">
    <form [formGroup]="addCriticalPathForm" class="form">
      <div class="card-body border-top p-9">


        <div class="row mb-1">
          <div class="col-lg-6">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                Critical Title
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <input type="text" class="form-control form-control-lg form-control-solid text-start" name="title"
                formControlName="title" placeholder="{{'BOQ.item_no' | translate}}" />
              <div
                *ngIf="addCriticalPathForm?.get('title')?.invalid && (addCriticalPathForm?.get('title')?.dirty || addCriticalPathForm?.get('title')?.touched)"
                class="fv-plugins-message-container">
                <div class="fv-help-block">title is required</div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                Description
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <textarea type="text" class="form-control form-control-lg form-control-solid text-start"
                name="description" formControlName="description" placeholder="description"></textarea>
              <div
                *ngIf="addCriticalPathForm?.get('description')?.invalid && (addCriticalPathForm?.get('description')?.dirty || addCriticalPathForm?.get('description')?.touched)"
                class="fv-plugins-message-container">
                <div class="fv-help-block">description is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-1">

          <div class="col-lg-4">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                Planned start date
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <input type="date" class="form-control form-control-lg form-control-solid text-start" name="title"
                formControlName="startDate" />
              <div
                *ngIf="addCriticalPathForm?.get('startDate')?.invalid && (addCriticalPathForm?.get('startDate')?.dirty || addCriticalPathForm?.get('startDate')?.touched)"
                class="fv-plugins-message-container">
                <div class="fv-help-block">start Date is required</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                Planned end date
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <input type="date" class="form-control form-control-lg form-control-solid text-start" name="endDate"
                formControlName="endDate" />
              <div
                *ngIf="addCriticalPathForm?.get('endDate')?.invalid && (addCriticalPathForm?.get('endDate')?.dirty || addCriticalPathForm?.get('endDate')?.touched)"
                class="fv-plugins-message-container">
                <div class="fv-help-block">endDate is required</div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                Planned %
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <input type="number" class="form-control form-control-lg form-control-solid text-start"
                name="plannedPercentage" formControlName="plannedPercentage" (keypress)="numbersOnly($event)" />
              <div
                *ngIf="addCriticalPathForm?.get('plannedPercentage')?.invalid && (addCriticalPathForm?.get('plannedPercentage')?.dirty || addCriticalPathForm?.get('plannedPercentage')?.touched)"
                class="fv-plugins-message-container">
                <div class="fv-help-block">planned Percentage is required</div>
              </div>
            </div>
          </div>

        </div>

        <div class="row mb-1">

          <div class="col-lg-4">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                Actual start date
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <input type="date" class="form-control form-control-lg form-control-solid text-start" name="title"
                formControlName="actualStartDate" />

            </div>
          </div>

          <div class="col-lg-4">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                Actual end date
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <input type="date" class="form-control form-control-lg form-control-solid text-start" name="actualEndDate"
                formControlName="actualEndDate" />

            </div>
          </div>

          <div class="col-lg-4">
            <label class="col-lg-12 col-form-label fw-bold fs-6">
              <span>
                actual %
              </span>
            </label>
            <div class="col-lg-12 fv-row">
              <input type="number" class="form-control form-control-lg form-control-solid text-start"
                name="actualPercentage" formControlName="actualPercentage" (keypress)="numbersOnly($event)" />
            </div>
          </div>

        </div>


      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveUser()">
          <ng-container *ngIf="!isLoading">{{"TRANSLATOR.SAVE_CHANGES" | translate}}</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
