<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
    data-bs-target="#kt_add_mileStone" aria-expanded="true" aria-controls="kt_add_mileStone">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" *ngIf="!pathId">Add Path</h3>
      <h3 class="fw-bolder m-0" *ngIf="pathId">edit Path</h3>
    </div>
    <div class="card-toolbar">
      <a (click)="back()" class="btn btn-sm btn-danger d-flex">
        <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
        {{"ECOMMERCE.COMMON.BACK" | translate}}
      </a>
    </div>
  </div>
  <div id="kt_add_mileStone" class="collapse show">
    <form [formGroup]="addCriticalPathForm" class="form">
      <div class="card-body border-top p-9">
        <div formArrayName="criticalPaths">
          <div *ngFor="let criticalPath of criticalPaths.controls; let i = index" [formGroupName]="i" class="row mb-1">

            <div class="col-lg-6">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Critical Title</label>
              <div class="col-lg-12 fv-row">
                <input type="text" class="form-control form-control-lg form-control-solid text-start" formControlName="title" placeholder="Title" />
                <div *ngIf="criticalPath.get('title')?.invalid && (criticalPath.get('title')?.dirty || criticalPath.get('title')?.touched)" class="fv-plugins-message-container">
                  <div class="fv-help-block">Title is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Description</label>
              <div class="col-lg-12 fv-row">
                <textarea class="form-control form-control-lg form-control-solid text-start" formControlName="description" placeholder="Description"></textarea>
                <div *ngIf="criticalPath.get('description')?.invalid && (criticalPath.get('description')?.dirty || criticalPath.get('description')?.touched)" class="fv-plugins-message-container">
                  <div class="fv-help-block">Description is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Planned Start Date</label>
              <div class="col-lg-12 fv-row">
                <input type="date" class="form-control form-control-lg form-control-solid text-start" formControlName="startDate" />
                <div *ngIf="criticalPath.get('startDate')?.invalid && (criticalPath.get('startDate')?.dirty || criticalPath.get('startDate')?.touched)" class="fv-plugins-message-container">
                  <div class="fv-help-block">Start Date is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Planned End Date</label>
              <div class="col-lg-12 fv-row">
                <input type="date" class="form-control form-control-lg form-control-solid text-start" formControlName="endDate" />
                <div *ngIf="criticalPath.get('endDate')?.invalid && (criticalPath.get('endDate')?.dirty || criticalPath.get('endDate')?.touched)" class="fv-plugins-message-container">
                  <div class="fv-help-block">End Date is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Planned %</label>
              <div class="col-lg-12 fv-row">
                <input type="number" class="form-control form-control-lg form-control-solid text-start" formControlName="plannedPercentage" (keypress)="numbersOnly($event)" />
                <div *ngIf="criticalPath.get('plannedPercentage')?.invalid && (criticalPath.get('plannedPercentage')?.dirty || criticalPath.get('plannedPercentage')?.touched)" class="fv-plugins-message-container">
                  <div class="fv-help-block">Planned Percentage is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Actual Start Date</label>
              <div class="col-lg-12 fv-row">
                <input type="date" class="form-control form-control-lg form-control-solid text-start" formControlName="actualStartDate" />
              </div>
            </div>

            <div class="col-lg-4">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Actual End Date</label>
              <div class="col-lg-12 fv-row">
                <input type="date" class="form-control form-control-lg form-control-solid text-start" formControlName="actualEndDate" />
              </div>
            </div>

            <div class="col-lg-4">
              <label class="col-lg-12 col-form-label fw-bold fs-6">Actual %</label>
              <div class="col-lg-12 fv-row">
                <input type="number" class="form-control form-control-lg form-control-solid text-start" formControlName="actualPercentage" (keypress)="numbersOnly($event)" />
              </div>
            </div>

            <div class="col-lg-12">
              <button type="button" class="btn btn-danger mt-2" (click)="removeCriticalPath(i)" *ngIf="i > 0">-</button>
            </div>

          </div>
        </div>

        <button type="button" class="btn btn-primary mt-4" (click)="addCriticalPath()" *ngIf="!pathId">Add Critical Path</button>
      </div>

      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="saveUser()">
          <ng-container *ngIf="!isLoading">{{"TRANSLATOR.SAVE_CHANGES" | translate}}</ng-container>
          <ng-container *ngIf="isLoading">
            <span class="indicator-progress" [style.display]="'block'">
              Please wait...{{ " " }}
              <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>

  </div>
</div>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
