<div class="row g-5 g-xl-8 justify-content-between">

  <div class="col-xl-12">

    <div class="card mb-5 mb-xl-8">
      <div class="card-header align-items-center border-0 mt-4 justify-content-between w-100">
        <h3 class="card-title align-items-center justify-content-start">
          <button class="btn btn-light-success font-weight-bolder font-size-sm cursor-pointer"
            (click)="openStatusModal()" [disabled]="invoiceDetails?.statusId === 4">
            Change Status
          </button>
          <button class="btn btn-light-success font-weight-bolder font-size-sm cursor-pointer mx-2"
            (click)="resetInvoiceModal()" [disabled]="invoiceDetails?.statusId === 4">
            Claim registration and modification
          </button>
          <a *ngIf="invoiceDetails?.statusId !== 4"
            class="btn btn-light-danger font-weight-bolder font-size-sm cursor-pointer" (click)="cancelInvoice()">
            Cancel
          </a>
          <button *ngIf="invoiceDetails?.statusId === 4" class="btn btn-danger font-weight-bolder font-size-sm">
            Cancelled
          </button>
        </h3>

        <a class="btn btn-danger font-weight-bolder font-size-sm cursor-pointer" (click)="back()">
          <app-keenicon name="arrow-left" class="fs-3"></app-keenicon>
          {{"ECOMMERCE.COMMON.BACK" | translate}}
        </a>
      </div>
      <div class="card-body pt-3">
        <div class="d-flex align-items-sm-center mb-7">

          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Project name

              </a>
              <span class="text-muted fw-bold d-block pt-1">
                Execution of King Abdullah International Gardens - Phase III</span>
            </div>

          </div>
        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Administrator

              </a>
              <span class="text-muted fw-bold d-block pt-1">Project of King Abdullah International Gardens</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Etimad Number
              </a>
              <span class="text-muted fw-bold d-block pt-1">190301099926</span>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-sm-center mb-7">
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                MOF Number
              </a>
              <span class="text-muted fw-bold d-block pt-1">221002231906</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Partners
              </a>
              <span class="text-muted fw-bold d-block pt-1">Dar Al-Handasah</span>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-sm-center mb-7">

          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Etimad submit date
              </a>
              <span class="text-muted fw-bold d-block pt-1">2022-10-28</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Invoice Reference
              </a>
              <span class="text-muted fw-bold d-block pt-1">30.00</span>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Invoice Value
              </a>
              <span class="text-muted fw-bold d-block pt-1">290,857,001.49</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Spent value
              </a>
              <span class="text-muted fw-bold d-block pt-1">290,857,001.49</span>
            </div>
          </div>
        </div>
      </div>

      <div class="stepper-container">
        <div class="step" [class.active]="currentStep === 1" [class.cancelled]="invoiceDetails?.statusId === 4">
          <div class="circle">1</div>
          <p>On Progress</p>
          <div class="dates" *ngIf="invoiceDetails?.claimRegistrationCheckDate">
            <h3> Claim registration and modification </h3>
            <h6>{{invoiceDetails?.claimRegistrationCheckDate | date: 'dd-MM-yyyy'}}</h6>
          </div>
        </div>

        <div class="line"></div>
        <div class="step" [class.active]="currentStep === 2" [class.cancelled]="invoiceDetails?.statusId === 4">
          <div class="circle">2</div>
          <p>Approved</p>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="currentStep === 3" [class.cancelled]="invoiceDetails?.statusId === 4">
          <div class="circle">3</div>
          <p>Completed</p>
        </div>
      </div>

    </div>
  </div>

</div>

<ng-template #UpdateStatusModal let-modal>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmitStatus()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Invoice Status</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

      <div class="row mb-6">
        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" checked readonly disabled />
              <span class="fw-bold ps-2 fs-6">on progress</span>
            </label>
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" formControlName="isClaimRegistration" />
              <span class="fw-bold ps-2 fs-6">Attach a certificate of completion</span>
            </label>
            <input type="date" class="form-control form-control-solid w-50"
              formControlName="claimRegistrationCheckDate" />
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" formControlName="clamCheck"
                [disabled]="!updateForm.get('certificateCompletion')?.value" />
              <span class="fw-bold ps-2 fs-6">Clam check</span>
            </label>
            <input type="date" class="form-control form-control-solid w-50" formControlName="clamCheckDate" />
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" formControlName="approved" />
              <span class="fw-bold ps-2 fs-6">Approved</span>
            </label>
            <input type="date" class="form-control form-control-solid w-50" formControlName="approvedDate" />
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" formControlName="isExchangeorder" />
              <span class="fw-bold ps-2 fs-6">Exchange order reference number</span>
            </label>
            <input type="text" class="form-control form-control-solid w-50"
              formControlName="exchangeOrderReferenceNumber" />
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" formControlName="isPaymentOrderRef" />
              <span class="fw-bold ps-2 fs-6">Payment order reference number</span>
            </label>
            <input type="text" class="form-control form-control-solid w-50"
              formControlName="paymentOrderReferenceNumber" />
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center justify-content-between mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" formControlName="isPaymentOrder" />
              <span class="fw-bold ps-2 fs-6">Exchange order Payment order</span>
            </label>
            <input type="text" class="form-control form-control-solid w-50" formControlName="paymentOrder" />
          </div>
        </div>

        <div class="col-lg-12 fv-row">
          <div class="d-flex align-items-center mt-3">
            <label class="form-check form-check-inline form-check-solid me-5">
              <input class="form-check-input" type="checkbox" formControlName="completed" />
              <span class="fw-bold ps-2 fs-6">Completed</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>

</ng-template>

<ng-template #resetModal let-modal>
  <form #resetForm="ngForm" (ngSubmit)="onResetSubmit($event, resetForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Claim registration and modification</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="fv-row mb-7">
        <!--begin::Label-->
        <label class="required fw-semibold fs-6 mb-2">Date</label>
        <!--end::Label-->
        <!--begin::Input-->
        <input type="date" class="form-control form-control-solid" name="name"
          [(ngModel)]="resetDataModel.claimRegistrationCheckDate" #name="ngModel" required minlength="4" />
      </div>
      <div class="fv-row mb-7">
        <!--begin::Label-->
        <label class="required fw-semibold fs-6 mb-2">Reason</label>
        <!--end::Label-->
        <!--begin::Input-->
        <textarea class="form-control form-control-solid" required cols="4"></textarea>
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary"
        [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>

<!-- modal -->
<swal #noticeSwal [swalOptions]="swalOptions">
</swal>
