/* Stepper Container */
.stepper-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .dates {
    position: absolute;
    top: 75px;
    width: 300px;
  }
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.step.cancelled .circle {
  background-color: #be2525 !important;
  /* Active step color */
  color: white;
}

.step.active .circle {
  background-color: #4caf50;
  /* Active step color */
  color: white;
}

.line {
  height: 2px;
  background-color: #ddd;
  margin: 0px 20px 20px 20px;
  width: 300px;
}

.step p {
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
}
