<div class="row g-5 g-xl-8 justify-content-between">
  <div class="col-xl-6">

    <!-- <ng-container *ngIf="updateInfo">
      <div class="mb-10 bg-light-success p-8 rounded">
        <div class="text-danger fs-5 fw-bold">
          You must click on final submit after updating basic Info to confirm the update
        </div>
      </div>
    </ng-container> -->


    <div class="card mb-5 mb-xl-8">

      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Project Factory Details</span>
          <!-- <span class="text-muted mt-1 fw-bold fs-7">test</span> -->
        </h3>
      </div>

      <div class="card-body pt-3">

        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Factory CR
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.factoryCR  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Factory Field
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.factoryField  ||  '--'}}</span>
            </div>
          </div>

        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Description
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.description  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Ex Year
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.year ||  '--'}}</span>
            </div>
          </div>

        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Latitude
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.latitude  ||  '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Longitude
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.longitude ||  '--'}}</span>
            </div>
          </div>

        </div>


        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Repre Name
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.repreName || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Repre Phone
              </a>
              <span
                class="text-muted fw-bold d-block pt-1">{{factoryDetails?.reprePhone  ||  '--'}}</span>
            </div>
          </div>

        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Repre Email
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.reprEmail || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Project Size
              </a>
              <span
                class="text-muted fw-bold d-block pt-1">{{factoryDetails?.projectSize  ||  '--'}}</span>
            </div>
          </div>

        </div>
        <div class="d-flex align-items-sm-center mb-7">

          <!-- begin::Title -->
          <div class="d-flex flex-row-fluid flex-wrap align-items-center">
            <div class="w-50 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                No of Employees
              </a>
              <span class="text-muted fw-bold d-block pt-1">{{factoryDetails?.numOfEmployess || '--'}}</span>
            </div>
            <div class="flex-grow-1 me-2">
              <a class="text-gray-800 fw-bolder text-hover-primary fs-6">
                Profile attachment
              </a>
              <span class="text-muted fw-bold d-block pt-1">attachment</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-xl-6">
    <div class="card mb-5 mb-xl-8">

      <div class="card-header align-items-center border-0 mt-4">
        <h3 class="card-title align-items-start flex-column">
          <span class="fw-bolder text-gray-900">Logs</span>
        </h3>
        <div class="card-toolbar">
          <!-- begin::Menu -->
          <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
            data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
          </button>
          <!-- end::Menu -->
        </div>
      </div>

      <div class="card-body pt-3">

        <div class="table-responsive">
          <!-- begin::Table -->
          <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
              <tr class="fw-bolder text-muted">

                <th class="max-w-120px">Created By</th>
                <th class="max-w-120px">Date</th>
                <th class="max-w-120px">Status</th>
                <th class="max-w-120px">Notes</th>
              </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              <tr>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{factoryDetails?.userName}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{'created'}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{'--'}}
                  </a>
                </td>
                <td>
                  <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                    {{'--'}}
                  </a>
                </td>
              </tr>
              <!-- <ng-container *ngIf="subcontractorDetails && subcontractorDetails?.subContractApprovals?.length">
                <tr *ngFor="let item of subcontractorDetails?.subContractApprovals; index as i">
                  <td>
                    <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                      {{item?.createdBy || '--'}}
                    </a>
                  </td>
                  <td>
                    <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                      {{item.approved === 0 ? 'consultant approved' : item.approved === 1 ? 'Manager Approve' : item.approved === 2 ? 'fully Approved' : 'Rejected'}}
                    </a>
                  </td>
                  <td>
                    <a class="text-gray-900 fw-bolder text-hover-primary" style="font-size: 12px;">
                      {{item?.note}}
                    </a>
                  </td>
                </tr>
              </ng-container> -->

            </tbody>
            <!-- end::Table body -->
          </table>
          <!-- end::Table -->
        </div>

      </div>

    </div>
  </div>
</div>
